@import './../../../assets/scss/utils/mixins.scss';

ion-content {
  section {
    &.acoes {
      width: 100%;
      height: 100%;
      @include flexbox(center, center, row);

      ion-grid { flex: none; }
    }
  }
}

.password-form {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}
