:host {

  ion-text {
    display: block;

    &.as-link {
      cursor: pointer;
    }

    p {
      position: relative;
      display: inline-block;
      font-size: 18px;

      &.big {
        font-size: 26px;
      }

      &.extra-big {
        font-size: 36px;
      }
    }
  }
}
