@import './../../../../assets/scss/utils/mixins.scss';

ion-content {
  section {
    &.explorar {
      width: 100%;
      min-height: 100%;
      @include flexbox(flex-start, flex-start, column);

      .explorar-header {
        width: 100%;

        ion-item {
          &.perfil-item {
            --padding-end: 0;
            --inner-padding-end: 0;
            --padding-start: 0;

            ion-fab {
              margin: 5px 15px 5px 5px;


              ion-fab-button {
                --background: var(--white);
                --background-hover: var(--white);
                --background-focused: var(--white);
                --background-activated: var(--white);
                --color: var(--gray-6);
                --box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                font-size: 20px;
              }
            }
          }
        }
      }

      .explorar-content {
        width: 100%;

        .features-wrapper {
          width: 100%;
          padding: 16px;
          max-width: 360px;
          margin: 0 auto;
        }

        .swiper-wrapper {
          width: 100%;
        }
      }
    }
  }
}

.feature-item-wrapper {
  width: 100%;
  border-radius: 16px;
  background: var(--white);
  padding-bottom: 100%;
  height: 0;
  position: relative;
  width: 103px;

  ion-item {
    width: 100%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 16px;
    --border-radius: 16px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    --min-height: 100%;
    --padding-top: 0;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 0;
    --inner-padding-end: 0;
    --background: var(--white);
    transition: all 200ms ease;
    will-change: box-shadow;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused:transparent;

    ion-text {
      ion-icon {
        font-size: 27px;
        margin-bottom: 2px;
      }
    }
  }
}
