
@import './../../../../assets/scss/utils/mixins.scss';

ion-header {
  border-bottom: 1px solid var(--black);
}

ion-content {
  section {
    &.explorar {
      width: 100%;
      height: auto;
      position: relative;
      @include flexbox(flex-start, flex-start, column);

      .city-wrapper {
        @include flexbox(flex-start, flex-start, row);
        margin: 0;

        ion-item {
          --min-height: 0;
          --padding-start: 0;
          --padding-end: 0;
          --inner-padding-end: 0;

          ion-text {
            p {
              &.city-name {
                @include flexbox(center, flex-start, row);
              }
            }
          }
        }
      }

      .explorar-header-wrapper {
        width: 100%;
        height: auto;
        min-height: 164px;
        padding: 0;
        position: relative;

        .fixed-segments {
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -33px;
          z-index: 10;
          border-top: 1px solid var(--gray-3);

          .segments-container {
            max-width: 370px;
            margin: 0 auto;
            height: 100%;
            width: 100%;
            padding: 0 16px;

            .pad-left {
              padding-left: 27px;
            }
          }
        }
      }

      .explorar-content {
        @include flexbox(center, center, column);
        width: 100%;

        .features-content {
          width: 100%;
          max-width: 370px;
          margin: 0 auto;
          padding: 50px 0 0 0;
        }

        .features-segment {
          padding: 44px 0 0 0;
          width: 100%;

          .features-swiper {
            width: 100%;
            position: relative;
          }
        }
      }
    }
  }
}

.feature-item-wrapper {
  width: 100%;
  border-radius: 16px;
  background: var(--white);
  min-width: 103px;
  height: 103px;
  position: relative;

  .forbidden {
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 315;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  ion-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 314;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  @media (hover: hover) {
    &:hover {
      ion-item:not(.is-disabled) {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      }
    }
  }

  ion-item {
    width: 100%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 16px;
    --border-radius: 16px;
    height: 100%;
    --min-height: 100%;
    --padding-top: 0;
    --padding-start: 16px;
    --padding-end: 18px;
    --padding-bottom: 0;
    --inner-padding-end: 0;
    --background: var(--white);
    transition: all 200ms ease;
    will-change: box-shadow;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused:transparent;
    --border-width: 0px;
    --border-color: transparent;
    --border-style: solid;
    --transition: all 200ms ease;

    ion-text {
      ion-icon {
        font-size: 27px;
        margin-bottom: 2px;
        color: var(--gray-6);
        transition: all 200ms ease;
      }
    }
  }
}

ion-item.description {
  --padding-start: 32px;
  --padding-end: 32px;
  min-height: auto;
}

.like-feature {
  height: 103px;
  width: 103px;
  border-radius: 16px;
  margin: 0;
}
