

<ion-content
#explorarContent
class="ion-content-w-linear-bg">
  <section class="explorar">
    <div class="explorar-header-wrapper bg-gray-2">
      <ion-header
      mode="ios"
      class="ion-no-border bg-gray-2">
        <ion-toolbar
        class="ion-bg-transparent ion-no-padding ion-bg-gray-2">
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-col size="12" class="no-pad-top no-pad-bottom">
                <div class="header-container">
                  <div class="header-logo">
                    <anfitrion-logo
                    [size]="'big'"
                    [currentLanguage]="currentLanguage">
                    </anfitrion-logo>
                  </div>

                  <div class="header-buttons">
                    <anfitrion-language-button
                    [currentLanguage]="currentLanguage">
                    </anfitrion-language-button>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>

      <div class="fixed-segments">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-text mode="ios">
                <p class="fs-12 color-gray-mid mg-bottom-5">
                  <b>Onde</b> você procura?
                </p>
              </ion-text>

              <div class="city-wrapper">
                <ion-item
                (click)="openCityModal()"
                [button]="true"
                [detail]="false"
                mode="ios"
                class="ion-bg-transparent ion-no-padding"
                lines="none">
                  <ion-text
                  class="line-height-12"
                  mode="ios">
                    <p class="fs-20 color-white font-baloo font-w-bold city-name">{{ currentCity.name }} <ion-chip mode="ios" class="simulate-btn">{{ 'SHARED.CHANGE' | translate }}</ion-chip></p>
                  </ion-text>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="segments-container">
          <div class="segments">
            <ion-segment
            [(ngModel)]="selectedSegment"
            (ionChange)="segmentChanged()"
            class="anf-main"
            mode="ios">
              <ion-segment-button
              *ngFor="let segment of MOCK_LOCATION"
              [value]="segment.value">
                <ion-text mode="ios">
                  <p class="font-baloo fs-14">
                    {{ segment.text[currentLanguage.value][0] }} <b>{{ segment.text[currentLanguage.value][1] }}</b>
                  </p>
                </ion-text>
              </ion-segment-button>
            </ion-segment>
          </div>
        </div>
      </div>
    </div>

    <div class="explorar-content">
      <div class="features-segment">
        <ion-grid [fixed]="true">
          <ion-row>
            <!-- MOSTRAR PESSOAS [SOON] [attr.size-lg]="selectedSegment === LocationEnum.PRAIA ? 6 : 12" -->
            <ion-col size="12" class="no-padding mg-bottom-16">
              <ion-grid class="no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-text mode="ios">
                      <p class="font-baloo fs-20 color-gray-text font-w-bold">
                        {{ 'SHARED.PLACES' | translate }} <span class="font-default txt-lowercase fs-12 color-gray-mid font-w-normal" *ngIf="places && places.length > 0">({{ places.length }})</span>
                      </p>
                      <p class="fs-14 color-gray-text font-w-thin" *ngIf="selectedSegment === LocationEnum.CIDADE">
                        {{ 'EXPLORE_PAGE.CITY_PLACES_EXPLORING' | translate }}.
                      </p>
                      <p class="fs-14 color-gray-text font-w-thin" *ngIf="selectedSegment === LocationEnum.PRAIA">
                        {{ 'EXPLORE_PAGE.BEACH_PLACES_EXPLORING' | translate }}.
                      </p>
                    </ion-text>
                  </ion-col>

                  <ng-container *ngIf="!places">
                    <ng-container *ngFor="let skeleton of [1,2,3,4,5,6,7]">
                      <ion-col
                      size="auto">
                        <ion-skeleton-text mode="ios" [animated]="true" class="like-feature"></ion-skeleton-text>
                      </ion-col>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="places && places.length > 0">
                    <ng-container *ngFor="let place of FEATURES.places">
                      <ion-col
                      size="auto"
                      *ngIf="place.show">
                        <div
                        class="feature-item-wrapper">
                          <ion-badge *ngIf="place.atLeastOneLength && (place.userRespectAgeLimit || place.userRespectAgeLimit === null)" class="fs-12 color-green">{{ place.atLeastOneLength }}</ion-badge>

                          <ion-text mode="ios" class="forbidden" *ngIf="place.ageLimit === 18 && !place.userRespectAgeLimit">
                            <p>🔞</p>
                          </ion-text>

                          <ion-item
                          (click)="searchPlace(place)"
                          [disabled]="place.isDisabled || !place.atLeastOneLength"
                          [ngClass]="{ 'is-disabled': place.isDisabled || !place.atLeastOneLength }"
                          [title]="place.text[currentLanguage.value]"
                          mode="ios"
                          [detail]="false"
                          [button]="true"
                          lines="none">
                            <ion-text
                              mode="ios">
                              <ion-icon [name]="place.icon + '-outline'" *ngIf="!place.loadIconsFromAssets" class="ion-icon-thiness"></ion-icon>
                              <ion-img *ngIf="place.loadIconsFromAssets" [src]="'./../../../../assets/icon/' + place.icon + '.png'" class="icon-w-src" [ngClass]="place.icon"></ion-img>
                              <p class="fs-12 mg-top-5 color-gray-text">{{ place.text[currentLanguage.value] }}</p>
                            </ion-text>
                          </ion-item>
                        </div>
                      </ion-col>
                    </ng-container>
                  </ng-container>

                  <ion-col *ngIf="places && places.length === 0"
                  size="12">
                  <ion-text mode="ios">
                    <p class="fs-14 color-gray-text font-w-thin">
                      {{ 'SHARED.NO_PLACES' | translate }}
                    </p>
                  </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

            <!-- MOSTRAR PESSOAS [SOON]
            <ion-col size="12" [attr.size-lg]="selectedSegment === LocationEnum.PRAIA ? 6 : 12" class="no-padding mg-bottom-16">
              <ion-grid class="no-padding">
                <ion-row>
                  <ion-col [size]="12">
                    <ion-text mode="ios">
                      <p class="font-baloo fs-20 color-gray-text font-w-bold">
                        {{ 'SHARED.PEOPLE' | translate }} <span class="font-default txt-lowercase fs-12 color-gray-mid font-w-normal" *ngIf="people && people.length > 0">({{ people.length }})</span>
                      </p>
                      <p class="fs-14 color-gray-text font-w-thin" *ngIf="selectedSegment === LocationEnum.CIDADE">
                        {{ 'EXPLORE_PAGE.CITY_PEOPLE_EXPLORING' | translate }}.
                      </p>
                      <p class="fs-14 color-gray-text font-w-thin" *ngIf="selectedSegment === LocationEnum.PRAIA">
                        {{ 'EXPLORE_PAGE.BEACH_PEOPLE_EXPLORING' | translate }}.
                      </p>
                    </ion-text>
                  </ion-col>

                  <ng-container *ngIf="lookingForPlaces">
                    <ng-container *ngFor="let skeleton of [1,2,3]">
                      <ion-col
                      size="auto">
                        <ion-skeleton-text mode="ios" [animated]="true" class="like-feature"></ion-skeleton-text>
                      </ion-col>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="!lookingForPeople">
                    <ng-container *ngFor="let people of FEATURES.people">
                      <ion-col
                      *ngIf="people.show"
                      size="auto">
                        <div
                        class="feature-item-wrapper">
                          <ion-badge *ngIf="people.atLeastOneLength && (people.userRespectAgeLimit || people.userRespectAgeLimit === null)" class="fs-12 color-green">{{ people.atLeastOneLength }}</ion-badge>

                          <ion-text mode="ios" class="forbidden" *ngIf="people.ageLimit === 18 && !people.userRespectAgeLimit">
                            <p>🔞</p>
                          </ion-text>

                          <ion-item
                          (click)="searchPlaceInTheCity(people)"
                          [disabled]="people.isDisabled || !people.atLeastOneLength"
                          [ngClass]="{ 'is-disabled': people.isDisabled || !people.atLeastOneLength }"
                          [title]="people.text[currentLanguage.value]"
                          mode="ios"
                          [detail]="false"
                          [button]="true"
                          lines="none">
                            <ion-text
                              mode="ios">
                              <ion-icon [name]="people.icon + '-outline'" *ngIf="!people.loadIconsFromAssets"></ion-icon>
                              <p class="fs-12 mg-top-5 color-gray-text">{{ people.text[currentLanguage.value] }}</p>
                            </ion-text>
                          </ion-item>
                        </div>
                      </ion-col>
                    </ng-container>
                  </ng-container>
                </ion-row>
              </ion-grid>
            </ion-col>
            -->
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <anfitrion-adsense>
      <div adsense class="txt-center full-width full-height">
        <script
        async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1158629671776524"
        crossorigin="anonymous">
        </script>

        <!--anfitrion-inicio-top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1158629671776524"
        data-ad-slot="7416407934"
        data-ad-format="auto"
        data-full-width-responsive="true">
        </ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </anfitrion-adsense>

  <ion-grid [fixed]="true">
    <ion-row>
      <!-- QUANDO HOUVER PRAIA -->
      <ion-col size="12" *ngIf="currentCity?.hasBeach && selectedSegment === LocationEnum.PRAIA">
        <ion-text mode="ios">
          <p class="font-baloo fs-20 color-gray-text font-w-bold">
            {{ 'SHARED.BEACHES' | translate }} <span class="font-w-normal">{{ currentCity.in[currentLanguage.value] }} {{ currentCity.name }}</span>
          </p>
          <p class="fs-14 color-gray-text font-w-thin line-height-18">
            {{ 'EXPLORE_PAGE.NUMBER_OF_BEACHES' | translate: { length: MOCK_BEACHES.length } }}: <span *ngFor="let beach of MOCK_BEACHES.slice(1); let i = index; let isLast = last">{{ beach.text[currentLanguage.value] }}<ng-container *ngIf="!isLast">, </ng-container></span>.
          </p>
        </ion-text>

        <hr class="anfitrion-divider mg-top-32">
      </ion-col>

      <ion-col size="12">
        <div class="scroll-to-top full-width">
          <ion-button
          mode="md"
          (click)="scrollToTop()"
          shape="round"
          [title]="('SHARED.BACK_TO_TOP.0' | translate) + ' ' + ('SHARED.BACK_TO_TOP.1' | translate)"
          fill="solid"
          class="anfitrion-main-solid mg-bottom-16 mg-top-16 fs-12">
            {{ 'SHARED.BACK_TO_TOP.0' | translate }} <b class="mg-left-5">{{ 'SHARED.BACK_TO_TOP.1' | translate }}</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="12">
        <anfitrion-made-w-love [centered]="true"></anfitrion-made-w-love>
      </ion-col>

      <ion-col size="12" class="no-pad-top">
        <anfitrion-social-networks [centered]="true"></anfitrion-social-networks>
      </ion-col>

      <ion-col size="12" class="mg-bottom-16">
        <div class="copy-n-lang-wrapper">
          <anfitrion-copyright></anfitrion-copyright>
          <anfitrion-language-button-small [currentLanguage]="currentLanguage"></anfitrion-language-button-small>
        </div>
      </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
