@import './../../../../../assets/scss/utils/mixins.scss';

.kiosks-wrapper {
  .beach-kiosk-container {
    border-radius: 16px;
    position: relative;
    background-color: var(--white);

    ion-icon {
      &.verified {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 314;
        font-size: 22px;
      }
    }

    @media (hover: hover) {
      &:hover {
        ion-item:not(.is-disabled) {
          &.beach-kiosk {

            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

            ion-text {
              p {
                &.name {
                  color: var(--green);
                }
              }
            }
          }
        }
      }
    }

    ion-item {
      &.beach-kiosk {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        --padding-end: 22px;
        --padding-start: 22px;
        --background: var(--transparent);
        margin:  0;
        --min-height: 0;
        --padding-top: 22px;
        --padding-bottom: 22px;
        border-radius: 16px;
        --border-radius: 16px;
        --inner-padding-end: 0;
        --background-hover: var(--transparent);
        --background-activated: var(--transparent);
        --background-focused: var(--transparent);
        transition: all 200ms ease;
        --detail-icon-font-size: 10px;

        ion-avatar {
          margin: 0 12px 0 0;
          min-width: 48px;
          min-height: 48px;
          width: 48px;
          height: 48px;
        }

        ion-text {
          width: calc(100% - 70px);

          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        ion-chip {
          margin: 5px 0 0 0;
        }
      }
    }
  }
}

.beaches-filter-n-wrapper {
  @include flexbox(flex-start, center, row);

  .beaches-wrapper {
    flex: 1;
  }

  .filter-btn-wrapper {

  }
}

ion-item {
  &.beach-item {
    border-radius: 12px;
    --border-radius: 12px;
    --padding-start: 16px;
    --padding-end: 16px;
    --inner-padding-end: 0;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --min-height: 0;
    transition: all 200ms ease;
    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--transparent);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    @media (hover: hover) {
      &:hover {
        &:not(.is-selected) {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px 0px;
        }
      }
    }

    ion-text {
      p {
        &.name {
          color: var(--gray-text);
        }

        &.located {
          color: var(--gray-mid);
        }
      }
    }

    &.is-selected {
      --background: linear-gradient(.351turn,#769834 43.71%,#547D0E 58.8%);
      --border-color: var(--green-dark);
      box-shadow: var(--green) 0px 5px 5px 0px;

      ion-text {
        p {
          &.name {
            color: var(--white);
          }

          &.located {
            color: var(--white);
          }
        }
      }
    }
  }
}
