<ion-content
#placesContent
class="ion-content-w-linear-bg"
[forceOverscroll]="false">
  <ion-header mode="ios" class="ion-no-border bg-transparent">
    <ion-toolbar mode="ios" class="ion-bg-transparent no-ion-padding">
      <ion-grid [fixed]="true" class="no-pad-bottom">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="back-btn-wrapper">
                <ion-button
                (click)="back()"
                class="back ion-color-gray-text back-btn no-ion-padding font-baloo"
                [title]="'SHARED.BACK' | translate"
                fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                </ion-button>
              </div>

              <div class="language-container">
                <anfitrion-language-button [currentLanguage]="currentLanguage"></anfitrion-language-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <section class="lugares-na-praia">
    <ion-grid [fixed]="true" class="no-pad-top">
      <ion-row>
        <ion-col size="12">
          <ion-text
          class="txt-center color-gray-text full-width icon-title-text"
          mode="ios">
          <ng-container [ngSwitch]="placeType">
            <ng-container *ngSwitchCase="PlaceTypeBeachEnum.QUIOSQUE"><ion-icon name="storefront-outline" class="full-width fs-32 animate__animated animate__fadeInUp"></ion-icon></ng-container>
            <ng-container *ngSwitchCase="PlaceTypeBeachEnum.CARRINHO"><ion-icon name="cart-outline" class="full-width fs-32 animate__animated animate__fadeInUp"></ion-icon></ng-container>
          </ng-container>

            <h2 class="font-baloo">
              {{ 'EXPLORE_PAGE.EXPLORING' | translate }} <span class="font-w-bold txt-lowercase"><ng-container [ngSwitch]="placeType">
                <ng-container *ngSwitchCase="PlaceTypeBeachEnum.QUIOSQUE">{{ 'SHARED.KIOSKS' | translate }}</ng-container>
                <ng-container *ngSwitchCase="PlaceTypeBeachEnum.CARRINHO">{{ 'SHARED.CARTS' | translate }}</ng-container>
              </ng-container></span>
            </h2>

            <p class="fs-16">
              {{ currentCityAsParam?.in[currentLanguage.value] }} {{ currentCityAsParam?.name }} <span class="color-gray-mid text-lowercase">({{ currentLocationAsParam === LocationEnum.CIDADE ? ('SHARED.CITY' | translate) : ('SHARED.BEACH' | translate) }})</span>
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-text
          class="txt-left color-gray-text"
          mode="ios">
            <p class="color-gray-text fs-14 font-w-thin mg-top-16 mg-bottom-8 d-block">
              <ng-container [ngSwitch]="placeType">
                <ng-container *ngSwitchCase="PlaceTypeBeachEnum.QUIOSQUE">{{ 'PLACES_AT_THE_BEACH.FILTER_KIOSKS' | translate }}</ng-container>
                <ng-container *ngSwitchCase="PlaceTypeBeachEnum.CARRINHO">{{ 'PLACES_AT_THE_BEACH.FILTER_CARTS' | translate }}</ng-container> {{ 'PLACES_AT_THE_BEACH.ACCORDING_YOUR_NEED' | translate }}.
              </ng-container>
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12" *ngIf="MOCK_BEACHES && MOCK_BEACHES.length === 0">
          <ion-text mode="ios" class="d-block mg-bottom-8 mg-top-16">
            <p class="fs-14 color-gray-text font-w-thin">
              {{ "SHARED.NO_PLACES" | translate }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="places-swiper-container" *ngIf="MOCK_BEACHES.length > 0">
      <swiper-container
      [init]="true"
      class="full-width swiper-w-relative-pagination"
      #beachSwiper
      [freeMode]="true"
      [autoHeight]="false"
      slides-offset-before="16"
      slides-offset-after="16"
      initial-slide="0"
      [slidesPerView]="'auto'"
      space-between="16">
        <ng-container>
          <swiper-slide
          *ngFor="let beach of MOCK_BEACHES; let i = index"
          class="unlock-shadow-from-swiper auto-width">
            <ion-item
            [ngClass]="{'is-selected': beach.value === (selectedBeach && selectedBeach.value), 'remove-click-or-touch' : beach.value === (selectedBeach && selectedBeach.value)}"
            (click)="selectBeach(beach); slideSwiperTo(i)"
            mode="ios"
            lines="none"
            class="beach-item mg-bottom-8">
              <ion-text mode="ios" class="line-height-18">
                <p class="name">{{ beach.text[currentLanguage.value] }}</p>
                <p class="fs-11 located">{{ beach.located.from.text }} {{ beach.located.operator.text[currentLanguage.value] }} {{ beach.located.to.text }}</p>
              </ion-text>
            </ion-item>

            <ion-button
            (click)="toggleModalMap(true)"
            *ngIf="beach.value !== 'ALL' && selectedBeach?.value === beach.value"
            [title]="('SHARED.SEE_MAP.0' | translate) + ' ' + ('SHARED.SEE_MAP.1' | translate)"
            class="txt-right no-ion-padding fs-12"
            fill="clear"
            mode="ios">
              {{ 'SHARED.SEE_MAP.0' | translate }} <b class="mg-left-5">{{ 'SHARED.SEE_MAP.1' | translate }}</b> <ion-icon name="open-outline" class="mg-left-5"></ion-icon>
            </ion-button>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>

        <ion-col size="12">
          <div class="view-n-filter-wrapper">
            <div class="buttons-wrapper">
              <ion-button
              [disabled]="MOCK_BEACHES.length === 0 || !places"
              (click)="openFilterSelect()"
              shape="round"
              class="anf-main-solid fs-12"
              [title]="'SHARED.TO_FILTER' | translate"
              mode="md"
              fill="solid">
                <ion-icon [name]="'options' + '-outline'" class="fs-20"></ion-icon>

                <ion-select
                mode="ios"
                [cancelText]="'SHARED.CANCEL' | translate"
                [okText]="'SHARED.TO_FILTER' | translate"
                #filterSelector
                [label]="'SHARED.FILTER' | translate"
                class="hide-element anfitrion-selector min-height-0"
                (ionChange)="filterByCharacteristic($event)"
                [(ngModel)]="selectedFilter">
                  <ng-container *ngFor="let filter of MOCK_FILTERS">
                    <ion-select-option
                    [value]="filter.value">
                      {{ filter.text[currentLanguage.value] }}
                    </ion-select-option>
                  </ng-container>
                </ion-select>
              </ion-button>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" class="no-pad-bottom">
          <ion-text mode="ios" class="line-height-18">
            <p class="fs-14 color-gray-text mg-bottom-16" *ngIf="activeFilter && selectedBeach">
              {{ 'SHARED.LOOKING_FOR' | translate }}: <span class="fs-14 color-green font-w-semibold txt-lowercase">{{ activeFilter?.text[currentLanguage.value] }} {{ selectedBeach.in[currentLanguage.value] }} {{ selectedBeach.text[currentLanguage.value] }}</span>
            </p>
          </ion-text>
        </ion-col>

        <ng-container *ngIf="places && places.length > 0">
          <ion-col size="12" size-sm="6" size-lg="4" *ngFor="let place of places">
            <div class="kiosks-wrapper">
              <div class="beach-kiosk-container">

                <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="place.isPremium"></ion-icon>

                <ion-item
                [button]="true"
                class="beach-kiosk"
                lines="none"
                mode="ios">
                  <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>

                  <ion-text mode="ios" class="line-height-16">
                    <p class="color-gray-text fs-15 font-baloo name"><b>{{ place.name }}</b></p>
                    <p class="color-gray-mid fs-12">{{ place.beachInfo?.text }} &#x2022; {{ place.mainBeach }}</p>

                    <ion-chip
                    *ngIf="place.delivery_sand"
                    mode="ios"
                    class="txt-uppercase as-badge deliver">
                      {{ 'SHARED.DELIVERY_SAND' | translate }}
                    </ion-chip>
                  </ion-text>
                </ion-item>
              </div>
            </div>
          </ion-col>
        </ng-container>

        <ion-col *ngIf="places && places.length === 0" size="12" class="no-pad-top">
          <ion-text mode="ios">
            <p class="fs-14 color-gray-text font-w-thin">
              {{ 'SHARED.NO_RESULT_KIOSKS' | translate }}.
            </p>
          </ion-text>
        </ion-col>

        <ng-container *ngIf="!places">
          <ion-col size="12" size-sm="6" size-lg="4" *ngFor="let place of [1,2,3,4,5]">
            <ion-skeleton-text class="like-kiosk-card" [animated]="true"></ion-skeleton-text>
          </ion-col>
        </ng-container>

        <ion-col size="12" *ngIf="places && places.length > 0">
          <div class="see-more-wrapper w-100 center-w-flex">
            <ion-button
            mode="md"
            shape="round"
            [title]="'SHARED.SHOW_MORE' | translate"
            fill="solid"
            class="anfitrion-main-solid mg-bottom-16 mg-top-16 fs-12">
              {{ 'SHARED.SHOW_MORE' | translate }}
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12">
          <hr class="anfitrion-divider">
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item lines="none" class="ion-bg-transparent item-title-w-icon">
            <ion-text
            class="txt-left color-gray-text full-width icon-title-text without-icon d-block mg-bottom-8 has-icon"
            mode="ios">
              <h2 class="font-baloo fs-20">
                <ion-icon name="chatbubbles-outline"></ion-icon>
                {{ 'INICIO_PAGE.FEEDBACK.GIVE_YOUR_FEEDBACK.0' | translate }} <span class="font-w-bold mg-left-5">{{ 'INICIO_PAGE.FEEDBACK.GIVE_YOUR_FEEDBACK.1' | translate }}</span>
              </h2>

              <p class="fs-14 font-w-thin">
                {{ 'INICIO_PAGE.FEEDBACK.GIVE_YOUR_FEEDBACK_TEXT' | translate }}
              </p>

              <p class="fs-14 mg-top-16">
                <a href="javascript:void(0)" [routerLink]="['/logado/contato']" [title]="'INICIO_PAGE.FEEDBACK.SEND_FEEDBACK' | translate" class="send-feedback">{{ 'INICIO_PAGE.FEEDBACK.SEND_FEEDBACK' | translate }} <ion-icon name="arrow-forward"></ion-icon></a>
              </p>
            </ion-text>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item
          lines="none"
          mode="ios"
          class="simulate-bootstrap-alert warning line-height-18">
            <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" slot="start"></ion-icon>

            <ion-text mode="ios" class="color-bootstrap-warning">
              <p class="fs-12 mg-bottom-8">{{ 'INICIO_PAGE.VERIFIED.TITLE' | translate }}</p>
              <p class="fs-14">{{ 'INICIO_PAGE.VERIFIED.TEXT.0' | translate }} <b>{{ 'INICIO_PAGE.VERIFIED.TEXT.1' | translate }}</b> {{ 'INICIO_PAGE.VERIFIED.TEXT.2' | translate }}.</p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <anfitrion-adsense>
      <div adsense class="txt-center full-width full-height">
        <script
        async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1158629671776524"
        crossorigin="anonymous">
        </script>

        <!--anfitrion-inicio-top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1158629671776524"
        data-ad-slot="7416407934"
        data-ad-format="auto"
        data-full-width-responsive="true">
        </ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </anfitrion-adsense>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <div class="scroll-to-top full-width">
            <ion-button
            mode="md"
            (click)="scrollToTop()"
            shape="round"
            [title]="('SHARED.BACK_TO_TOP.0' | translate) + ' ' + ('SHARED.BACK_TO_TOP.1' | translate)"
            fill="solid"
            class="anfitrion-main-solid mg-bottom-16 mg-top-16 fs-12">
              {{ 'SHARED.BACK_TO_TOP.0' | translate }} <b class="mg-left-5">{{ 'SHARED.BACK_TO_TOP.1' | translate }}</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12">
          <anfitrion-made-w-love [centered]="true"></anfitrion-made-w-love>
        </ion-col>

        <ion-col size="12" class="no-pad-top">
          <anfitrion-social-networks [centered]="true"></anfitrion-social-networks>
        </ion-col>

        <ion-col size="12" class="mg-bottom-16">
          <div class="copy-n-lang-wrapper">
            <anfitrion-copyright></anfitrion-copyright>
            <anfitrion-language-button-small [currentLanguage]="currentLanguage"></anfitrion-language-button-small>
          </div>
        </ion-col>
        </ion-row>
      </ion-grid>
  </section>
</ion-content>

<!-- MAPA -->
<ion-modal [isOpen]="selectedBeach && showBeachMap" class="anf-full-size" (ionModalDidDismiss)="toggleModalMap(false)">
  <ng-template>
    <ion-content>
      <section class="map">
        <ion-button
        (click)="toggleModalMap(false)"
        mode="md"
        shape="round"
        [title]="'SHARED.BACK' | translate"
        fill="solid"
        class="anfitrion-main-solid fs-14 back-button-from-modal-map height-44">
          <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5 mg-right-5">{{ 'SHARED.BACK' | translate }}</span>
        </ion-button>

        <anfitrion-map [center]="selectedBeach.location" [kmlCoordinates]="selectedBeach.kmlCoordinates"></anfitrion-map>
      </section>
    </ion-content>
  </ng-template>
</ion-modal>
