<ion-content
class="ion-content-w-linear-bg"
[forceOverscroll]="false">
  <section class="about-us bg-gray-2">
    <header class="about-us-header">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="back-btn-wrapper">
                <ion-button
                (click)="closeModal()"
                [title]="'SHARED.BACK' | translate"
                mode="ios"
                class="back ion-color-white back-btn no-ion-padding font-baloo"
                fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </header>

    <div class="about-us-description">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col
          size="12"
          class="txt-left">
            <ion-text
            mode="ios"
            class="d-block pad-sides-16 color-white line-height-20">
              <p class="fs-14">{{ 'ABOUT_US_PAGE.FROM_NOW' | translate }}</p>
              <p class="fs-18 mg-bottom-16 color-linear">
                <b>{{ 'ABOUT_US_PAGE.YOUR_TIME' | translate }}</b>.
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="about-us-swiper-wrapper">
      <swiper-container
      #aboutUsSwiper
      [loop]="true"
      [effect]="'slide'"
      allow-touch-move="false"
      [autoplay]="{ delay: 0, disableOnInteraction: false }"
      [freeMode]="true"
      class="full-width swiper-w-relative-pagination"
      speed="5000"
      slides-offset-before="16"
      slides-offset-after="16"
      initial-slide="0"
      [slidesPerView]="'auto'"
      space-between="16"
      [init]="true">
        <ng-container>
          <swiper-slide
          *ngFor="let tip of TIPS; let i = index"
          class="unlock-shadow-from-swiper auto-width">
            <div class="anf-tip-container">
              <ion-item
              class="ion-bg-transparent tip-item"
              lines="none"
              mode="ios">
                <ion-text mode="ios">
                  <p class="color-gray-c fs-14">{{ tip.title[currentLanguage.value] }}</p>
                  <p class="description fs-18 color-linear font-w-bold">{{ tip.text[currentLanguage.value] }}</p>
                </ion-text>
              </ion-item>
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </section>
</ion-content>

<ion-footer
mode="ios"
class="ion-no-border bg-gray-ed">
  <ion-toolbar
  mode="ios"
  class="ion-bg-gray-ed">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <anfitrion-made-w-love
          [color]="'gray-text'"
          [alwaysCentered]="true">
          </anfitrion-made-w-love>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
