<ion-content
[fullscreen]="true">
  <section class="sem-internet bg-gray-2">
    <ion-text mode="ios" class="txt-center">
      <ion-icon
      name="warning-outline"
      class="full-width fs-32 animate__animated animate__fadeInUp color-danger">
      </ion-icon>

      <p
      class="font-baloo color-white fs-32">
        anfitri<span class="color-danger font-w-bold">off</span>
      </p>
      <p class="fs-16 color-white">
        {{ 'SHARED.WITHOUT_INTERNET' | translate }}.
      </p>
    </ion-text>

  </section>
</ion-content>
