<ion-tabs
#value
mode="ios"
class="ion-no-border">
  <ion-tab-bar
  *ngIf="!hideTabs"
  [ngClass]="{ 'dark-theme' : applyDarkTabBar, 'light-theme' : !applyDarkTabBar }"
  slot="bottom">
    <ion-segment
    [ngClass]="{ 'dark-theme' : applyDarkTabBar, 'light-theme' : !applyDarkTabBar }"
    [(ngModel)]="currentPage"
    (ionChange)="segmentHasChanged($event)" class="anf-main-like-tabs">
      <ion-segment-button *ngFor="let tab of MOCK_TABS"
      [value]="tab.page"
      [title]="
      tab?.value === 'explorar' ? ('COMPONENTS.TABS.EXPLORE' | translate) :
      tab?.value === 'menu' ? ('COMPONENTS.TABS.MENU' | translate) : ('COMPONENTS.TABS.SUGGESTIONS' | translate)
      ">
        <ion-icon [name]="tab.icon + '-outline'"></ion-icon>

        <ng-container *ngIf="tab?.value === 'explorar'">{{ 'COMPONENTS.TABS.EXPLORE' | translate }}</ng-container>
        <ng-container *ngIf="tab?.value === 'sugestoes-do-anfitriao'">{{ 'COMPONENTS.TABS.SUGGESTIONS' | translate }}</ng-container>
        <ng-container *ngIf="tab?.value === 'menu'">{{ 'COMPONENTS.TABS.MENU' | translate }}</ng-container>
      </ion-segment-button>
    </ion-segment>
  </ion-tab-bar>
</ion-tabs>
