<ion-tabs
(ionTabsWillChange)="checkRoute()"
mode="ios"
class="ion-no-border">
  <ion-tab-bar
  *ngIf="!hideTabs"
  [ngClass]="{ 'dark-tab' : applyDarkTabBar, 'light-tab' : !applyDarkTabBar }"
  slot="bottom">
    <ion-tab-button
    *ngFor="let tab of tabs"
    [tab]="tab.page"
    [title]="
      tab?.value === 'explorar' ? ('COMPONENTS.TABS.EXPLORE' | translate) :
      tab?.value === 'menu' ? ('COMPONENTS.TABS.MENU' | translate) : ('COMPONENTS.TABS.SUGGESTIONS' | translate)
    ">
      <ion-icon [name]="tab.icon + '-outline'"></ion-icon>

      <ng-container *ngIf="tab?.value === 'explorar'">{{ 'COMPONENTS.TABS.EXPLORE' | translate }}</ng-container>
      <ng-container *ngIf="tab?.value === 'sugestoes-do-anfitriao'">{{ 'COMPONENTS.TABS.SUGGESTIONS' | translate }}</ng-container>
      <ng-container *ngIf="tab?.value === 'menu'">{{ 'COMPONENTS.TABS.MENU' | translate }}</ng-container>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
