
ion-tabs {
  ion-tab-bar {
    height: 70px;

    &.dark-theme {
      --background: var(--gray-2);
      border-top: 1px solid var(--gray-3);
      outline: 1px solid var(--black);
    }

    &.light-theme {
      --background:var(--gray-ec);
      border-top: 1px solid var(--white);
      outline: 1px solid var(--gray-c);
    }
  }

  ion-segment {
    max-width: 500px;
    margin: 0 auto;
  }
}
