
<ion-content
#sugestoesContent
class="ion-content-w-linear-bg">
  <section class="sugestoes">
    <div class="sugestoes-header-wrapper bg-gray-2">
      <div class="fixed-header">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-header
              mode="ios"
              class="ion-no-border">
                <ion-toolbar
                class="ion-bg-transparent ion-no-padding">
                  <div class="header-container">
                    <div class="header-logo">
                      <rgs-logo
                      [asLink]="true"
                      (click)="backToHome()"
                      [size]="'big'"
                      [currentLanguage]="currentLanguage">
                      </rgs-logo>
                    </div>

                    <div class="header-buttons">
                      <rgs-language-button
                      [currentLanguage]="currentLanguage">
                      </rgs-language-button>
                    </div>
                  </div>
                </ion-toolbar>
              </ion-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="sugestoes-baixada-santista-swiper">
        <swiper-container
        #sugestoesCitySwiper
        free-mode="true"
        class="full-width swiper-w-relative-pagination"
        speed="5000"
        slides-offset-before="16"
        slides-offset-after="16"
        initial-slide="0"
        [slidesPerView]="1.2"
        space-between="16"
        [breakpoints]="{
          '200' : {
             slidesPerView: 1.7
           },
           '363' : {
             slidesPerView: 1.6
           },
           '445' : {
             slidesPerView: 1.6
           },
           '667' : {
             slidesPerView: 2.3
           },
           '792' : {
             slidesPerView: 3.3
           },
           '991' : {
             slidesPerView: 4.1
           },
           '1200' : {
             slidesPerView: 4.9
           },
           '1300' : {
             slidesPerView: 5.1
           },
           '1600' : {
             slidesPerView: 6.2
           },
           '2000' : {
             slidesPerView: 8.1
           }
         }"
        [init]="true">
          <ng-container>
            <swiper-slide
            *ngFor="let tip of [1,2,3,4]; let i = index"
            class="unlock-shadow-from-swiper auto-width">
              <div class="anf-baixada-container">
                <ion-item
                class="ion-bg-transparent tip-item"
                lines="none"
                mode="ios">
                  <ion-text mode="ios">
                    <p class="color-gray-c fs-14">dada</p>
                    <p class="description fs-18 color-linear font-w-bold">dsds</p>
                  </ion-text>
                </ion-item>
              </div>
            </swiper-slide>
          </ng-container>
        </swiper-container>
      </div>

      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-text mode="ios" class="line-height-24">
              <p class="color-gray-mid fs-12">
                Sugestões do anfitrião
              </p>
              <p class="color-white fs-20 font-baloo">
                na <span><b>Baixada Santista</b></span>
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="sugestoes-content">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-text mode="ios" class="line-height-24">
            <p class="color-gray-text fs-12">
              Sugestões específicas
            </p>
            <p class="color-gray-text fs-20 font-baloo">
              de <span><b>São Vicente</b></span>
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
