
@import './../../../../assets/scss/utils/mixins.scss';

ion-content {
  section {
    &.sugestoes {
      width: 100%;
      height: auto;
      position: relative;
      @include flexbox(flex-start, flex-start, column);

      .sugestoes-header-wrapper {
        width: 100%;
        height: auto;
        min-height: 350px;
        position: relative;
        @include flexbox(flex-start, flex-end, column);
        padding: 0 0 18px 0;

        &.has-content {
          padding: 0 0 76px 0;
        }

        ion-grid {
          flex: none;
        }

        .fixed-header {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: auto;

          .header-container {
            @include flexbox(flex-start, space-between, row);

            .header-buttons {
              @include flexbox(flex-start, flex-start, row);
            }
          }
        }

        .sugestoes-baixada-santista-swiper {
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -83px;
          z-index: 10;

          .one-tip-container {
            width: 100%;
            max-width: 430px;
            margin: 0 auto;
            padding: 0 16px;
          }
        }
      }
    }

    &.sugestoes-content {
      width: 100%;
      height: auto;

      &.has-content {
        padding: 100px 0 0 0;
      }

      .sugestoes-city-swiper {
        width: 100%;
      }
    }
  }
}

.anf-baixada-wrapper {
  .anf-baixada-container {
    height: 130px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 5px;
    background: var(--gray-2);
    border: 1px solid #333;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;

    ion-icon {
      margin-right: 12px;
      --ionicon-stroke-width: 20px;
    }

    .tip-item {
      --min-height: 130px;
      height: 130px;
      --padding-start: 32px;
      --padding-end: 32px;
      --padding-top: 0;
      --padding-bottom: 0;
      --inner-padding-end: 0;
      --detail-icon-color: var(--white);
      --detail-icon-font-size: 22px;

      &::part(detail-icon) {
        margin: 0 0 0 16px;
      }
    }
  }

  .indication {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .indicated-text {
    padding: 8px 0 0 0;
  }
}

.anf-tip-skeleton {
  width: 210px;

  .anf-tip-container {
    width: 100%;
    overflow: hidden;
    height: 120px;
    background: var(--gray-2);
    border: 1px solid #333;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 5px;
    border-radius: 12px;
    margin-bottom: 8px;

    ion-item {
      width: 100%;
      --min-height: 120px;

      ion-text {
        width: 100%;
      }
    }
  }

  ion-skeleton-text {
    &.like-label { height: 12px; width: 80px; border-radius: 50px; margin: 8px 0 0 0;}
    &.like-title { height: 14px; width: 110px; border-radius: 50px; margin: 8px 0 0 0;}
    &.like-desc { height: 18px; width: 80%; border-radius: 50px; margin: 8px 0 0 0;}
  }
}

.city-card-wrapper {
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 16px;
  transition: all 200ms ease;
  border-radius: 12px;
  margin: 0;

  ion-icon {
    --ionicon-stroke-width: 20px;
    margin-right: 10px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: var(--gray-fa);
  }

  .card-content {
    background: var(--transparent);
    border-radius: 0;
    margin: 0 0 8px 0;
    transition: all 200ms ease;
    overflow: hidden;

    ion-item {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-end: 0;
      --inner-padding-end: 0;
      --background: var(--transparent);
      --background-hover: var(--transparent);
    }
  }

  .indication {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
}

ion-skeleton-text {
  &.like-city-card {
    border-radius: 12px;
    height: 101px;
    margin: 0;
    width: 100%;
  }
}

.profile-type-card {
  width: 100%;
  height: auto;
  border-radius: 16px;
  position: relative;
  background: linear-gradient(to bottom, var(--transparent), var(--bootstrap-tourist-light-bg) 100%);

  &.is-not-selected {
    filter: grayscale(1) contrast(1);
    opacity: .5;
    pointer-events: none;
  }

  ng-lottie {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &.tourists {
    margin-bottom: 28px;

    ng-lottie {
      display: block;
      width: 250px;
      bottom: -80px;
    }

    &.is-selected {
      background: linear-gradient(to bottom, var(--transparent), var(--bootstrap-tourist-light-bg) 100%);
    }
  }

  &.residents {
    ng-lottie {
      display: block;
      width: 225px;
      bottom: -86px;
    }

    &.is-selected {
      background: linear-gradient(to bottom, var(--transparent), var(--bootstrap-resident-light-bg) 100%);
    }
  }

  &.is-selected {
    ng-lottie {
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .1));
    }
  }

  .simulate-space {
    margin-bottom: 66px
  }
}
