
<ion-content
#sugestoesContent
class="ion-content-w-linear-bg">
  <section class="sugestoes">
    <div class="sugestoes-header-wrapper bg-gray-2" [ngClass]="{ 'has-content': suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 0 }">
      <div class="fixed-header">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-header
              mode="ios"
              class="ion-no-border">
                <ion-toolbar
                class="ion-bg-transparent ion-no-padding">
                  <div class="header-container">
                    <div class="header-logo">
                      <anfitrion-logo
                      (click)="navTo()"
                      [asLink]="true"
                      [size]="'big'"
                      [currentLanguage]="currentLanguage">
                      </anfitrion-logo>
                    </div>

                    <div class="header-buttons">
                      <anfitrion-language-button
                      [currentLanguage]="currentLanguage">
                      </anfitrion-language-button>
                    </div>
                  </div>
                </ion-toolbar>
              </ion-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="sugestoes-baixada-santista-swiper">
        <swiper-container
        #baixadaSantistaSwiper
        free-mode="true"
        class="full-width swiper-w-relative-pagination"
        speed="5000"
        [attr.centered-slides]="false"
        slides-offset-before="16"
        slides-offset-after="16"
        initial-slide="0"
        (swiperslidechange)="listenForSwiperForControl($event)"
        [attr.slides-per-view]="'auto'"
        [attr.space-between]="16"
        [init]="true">
          <!-- SE EXISTIR MAIS DE UMA OPÇÃO -->
          <ng-container *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 1">
            <swiper-slide
            *ngFor="let suggestion of suggestionsBaixadaSantista; let i = index"
            class="unlock-shadow-from-swiper auto-width">
              <div class="anf-baixada-wrapper">
                <div class="anf-baixada-container">
                  <ion-item
                  (click)="seeSuggestion(suggestion)"
                  [button]="true"
                  [detail]="false"
                  class="ion-bg-transparent tip-item"
                  lines="none"
                  mode="ios">
                    <ion-icon [name]="suggestion.icon + '-outline'" class="color-gray-mid"></ion-icon>

                    <ion-text mode="ios">
                      <ng-container *ngIf="currentLanguage.value !== 'en'">
                        <p class="color-gray-c fs-14">{{ suggestion.name.title[currentLanguage.value] }}</p>
                        <p class="description fs-18 color-linear font-w-bold">{{ suggestion.name.text[currentLanguage.value] }}</p>
                      </ng-container>
                      <ng-container *ngIf="currentLanguage.value === 'en'">
                        <p class="description fs-18 color-linear font-w-bold">{{ suggestion.name.text[currentLanguage.value] }}</p>
                        <p class="color-gray-c fs-14">{{ suggestion.name.title[currentLanguage.value] }}</p>
                      </ng-container>
                    </ion-text>
                  </ion-item>
                </div>

                <div class="indication">

                  <div class="two-chips-side-by-side">
                    <ion-chip
                    *ngIf="suggestion.hashtag.value"
                    mode="ios"
                    class="txt-uppercase as-badge gray">
                      {{ suggestion.hashtag?.text?.[currentLanguage.value] }}
                    </ion-chip>

                    <ion-chip
                    *ngFor="let indication of suggestion.indication"
                    [ngClass]="indication?.value === ProfileType.MORADOR ? 'resident' : 'tourist'"
                    mode="ios"
                    class="txt-uppercase as-badge">
                      {{ indication.pluralText?.[currentLanguage.value] }}
                    </ion-chip>
                  </div>
                </div>
              </div>
            </swiper-slide>
          </ng-container>
        </swiper-container>

        <!-- SE EXISTIR SÓ UMA OPÇÃO -->
        <div class="one-tip-container" *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length === 1">
          <div class="anf-baixada-wrapper">
            <div class="anf-baixada-container">
              <ion-item
              [detail]="false"
              (click)="seeSuggestion(suggestionsBaixadaSantista[0])"
              [button]="true"
              class="ion-bg-transparent tip-item"
              lines="none"
              mode="ios">
                <ion-icon [name]="suggestionsBaixadaSantista[0].icon + '-outline'" class="color-gray-mid"></ion-icon>

                <ion-text mode="ios">
                  <ng-container *ngIf="currentLanguage.value !== 'en'">
                    <p class="color-gray-c fs-14">{{ suggestionsBaixadaSantista[0].name.title[currentLanguage.value] }}</p>
                    <p class="description fs-18 color-linear font-w-bold">{{ suggestionsBaixadaSantista[0].name.text[currentLanguage.value] }}</p>
                  </ng-container>
                  <ng-container *ngIf="currentLanguage.value === 'en'">
                    <p class="description fs-18 color-linear font-w-bold">{{ suggestionsBaixadaSantista[0].name.text[currentLanguage.value] }}</p>
                    <p class="color-gray-c fs-14">{{ suggestionsBaixadaSantista[0].name.title[currentLanguage.value] }}</p>
                  </ng-container>
                </ion-text>
              </ion-item>
            </div>

            <div class="indication">
              <div class="two-chips-side-by-side">
                <ion-chip
                *ngIf="suggestionsBaixadaSantista[0].hashtag.value"
                mode="ios"
                class="txt-uppercase as-badge gray">
                  {{ suggestionsBaixadaSantista[0].hashtag?.text?.[currentLanguage.value] }}
                </ion-chip>

                <ion-chip
                *ngFor="let indication of suggestionsBaixadaSantista[0].indication"
                [ngClass]="indication?.value === ProfileType.MORADOR ? 'resident' : 'tourist'"
                mode="ios"
                class="txt-uppercase as-badge">
                  {{ indication.pluralText?.[currentLanguage.value] }}
                </ion-chip>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-text mode="ios" class="line-height-22">
              <p class="color-gray-mid fs-12">
                {{ 'SUGGESTIONS_PAGE.TITLE' | translate }}
              </p>
              <p class="color-white fs-20 font-baloo">
                {{ 'SUGGESTIONS_PAGE.IN_BAIXADA' | translate }} <span><b>Baixada Santista</b></span>
              </p>
              <p class="color-white fs-14 mg-top-16 font-w-thin" *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length === 0">{{ 'SUGGESTIONS_PAGE.NO_RESULT' | translate }}.</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section
  class="sugestoes-content"
  [ngClass]="{ 'has-content': suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 0 }">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12" *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 0">
          <ion-text mode="ios">
            <p class="fs-14 color-gray-text font-w-thin mg-top-5">
              {{ 'SUGGESTIONS_PAGE.SEE_IN_BAIXADA_SANTISTA' | translate }}.
            </p>
          </ion-text>
        </ion-col>

        <ng-container *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 0">
          <ion-col size="6">
            <div class="controls-wrapper" *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 1">
              <ion-button
              [disabled]="hideLeftControl || (suggestionsBaixadaSantista && suggestionsBaixadaSantista.length === 1)"
              (click)="slideToPrev()"
              mode="md"
              class="anf-main-solid fs-14 mg-right-8"
              shape="round"
              title="">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>

              <ion-button
              [disabled]="hideRightControl || (suggestionsBaixadaSantista && suggestionsBaixadaSantista.length === 1)"
              (click)="slideToNext()"
              mode="md"
              class="anf-main-solid fs-14"
              shape="round"
              title="">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="6" class="txt-right">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid">
                <b class="fs-14">{{ suggestionsBaixadaSantista.length }}</b> <span class="txt-lowercase mg-left-5"><ng-container *ngIf="suggestionsBaixadaSantista?.length === 1">{{ 'SHARED.SUGGESTION' | translate }}</ng-container> <ng-container *ngIf="suggestionsBaixadaSantista && suggestionsBaixadaSantista.length > 1">{{ 'SHARED.SUGGESTIONS' | translate }}</ng-container></span>.
              </p>
            </ion-text>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-text mode="ios" class="line-height-18">
            <p class="color-gray-text fs-14">
              <ion-text mode="ios">
                <p class="font-baloo fs-20 color-gray-text font-w-normal">
                  {{ 'SHARED.SUGGESTIONS' | translate }} <b>{{ currentCity.in[currentLanguage.value] }} {{ currentCity.name }}</b> <span class="font-default txt-lowercase fs-12 color-gray-mid font-w-normal mg-left-5" *ngIf="suggestionsSelectedCity && suggestionsSelectedCity.length > 0">({{ suggestionsSelectedCity.length }})</span>
                </p>
                <p class="fs-14 color-gray-text font-w-thin mg-top-5">
                  {{ 'SUGGESTIONS_PAGE.SEE_IN_SELECTED_CITY' | translate: { city: currentCity.in[currentLanguage.value] + ' ' + currentCity.name } }}.
                </p>
                <p class="color-gray-text fs-14 mg-top-16 font-w-thin" *ngIf="suggestionsSelectedCity && suggestionsSelectedCity.length === 0">{{ 'SUGGESTIONS_PAGE.NO_RESULT' | translate }}.</p>
              </ion-text>
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let suggestion of suggestionsSelectedCity">
          <div class="city-card-wrapper" mode="ios" (click)="seeSelectedCitySuggestion(suggestion)">
            <div class="card-content">
              <div class="card-desc">
                <ion-item mode="ios" lines="none" class="ion-bg-transparent" [button]="true" [detail]="false">

                  <!-- <ion-icon [name]="suggestion.icon" class="color-gray-light"></ion-icon> -->

                  <ion-text mode="ios" class="font-w-thin">
                    <ng-container *ngIf="currentLanguage.value !== 'en'">
                      <p class="color-gray-text fs-14">{{ suggestion.name.title[currentLanguage.value] }}</p>
                      <p class="fs-18 color-gray-text">{{ suggestion.name.text[currentLanguage.value] }}</p>
                    </ng-container>
                    <ng-container *ngIf="currentLanguage.value === 'en'">
                      <p class="fs-18 color-gray-text">{{ suggestion.name.text[currentLanguage.value] }}</p>
                      <p class="color-gray-text fs-14">{{ suggestion.name.title[currentLanguage.value] }}</p>
                    </ng-container>
                  </ion-text>
                </ion-item>
              </div>
            </div>

            <div class="indication">
              <div class="two-chips-side-by-side">
                <ion-chip
                *ngIf="suggestion.hashtag.value"
                mode="ios"
                class="txt-uppercase as-badge gray">
                  {{ suggestion.hashtag?.text?.[currentLanguage.value] }}
                </ion-chip>

                <ion-chip
                *ngFor="let indication of suggestion.indication"
                [ngClass]="indication?.value === ProfileType.MORADOR ? 'resident' : 'tourist'"
                mode="ios"
                class="txt-uppercase as-badge">
                  {{ indication.pluralText?.[currentLanguage.value] }}
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <anfitrion-adsense>
      <div adsense class="txt-center full-width full-height">
        <script
        async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1158629671776524"
        crossorigin="anonymous">
        </script>

        <!--anfitrion-inicio-top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1158629671776524"
        data-ad-slot="7416407934"
        data-ad-format="auto"
        data-full-width-responsive="true">
        </ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </anfitrion-adsense>

    <ion-grid [fixed]="true">
      <ion-row>

        <ion-col size="12">
          <ion-text mode="ios" class="line-height-18">
            <p class="color-gray-text fs-14 font-w-thin">
              {{ 'SUGGESTIONS_PAGE.DESCRIPTION.0' | translate }} {{ 'SUGGESTIONS_PAGE.DESCRIPTION.1' | translate }}{{ 'SUGGESTIONS_PAGE.DESCRIPTION.2' | translate }}.
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <div class="scroll-to-top full-width">
            <ion-button
            mode="md"
            (click)="scrollToTop()"
            shape="round"
            [title]="('SHARED.BACK_TO_TOP.0' | translate) + ' ' + ('SHARED.BACK_TO_TOP.1' | translate)"
            fill="solid"
            class="anfitrion-main-solid mg-bottom-16 mg-top-16 fs-12">
              {{ 'SHARED.BACK_TO_TOP.0' | translate }} <b class="mg-left-5">{{ 'SHARED.BACK_TO_TOP.1' | translate }}</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12">
          <anfitrion-made-w-love [centered]="true"></anfitrion-made-w-love>
        </ion-col>

        <ion-col size="12" class="no-pad-top">
          <anfitrion-social-networks [centered]="true"></anfitrion-social-networks>
        </ion-col>

        <ion-col size="12" class="mg-bottom-16">
          <div class="copy-n-lang-wrapper">
            <anfitrion-copyright></anfitrion-copyright>
            <anfitrion-language-button-small [currentLanguage]="currentLanguage"></anfitrion-language-button-small>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
