<ion-content
#japaneseFoodContent
[scrollEvents]="true"
mode="ios">
  <section class="festival-comida-japonesa-hero">
    <header class="suggestion-header">
      <ion-grid [fixed]="true" class="no-pad-bottom">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="back-btn-wrapper">
                <ion-button
                (click)="back()"
                mode="ios"
                class="back ion-color-gray-text back-btn no-ion-padding font-baloo"
                [title]="'SHARED.BACK' | translate"
                fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                </ion-button>
              </div>

              <div class="language-container">
                <anfitrion-language-button [currentLanguage]="currentLanguage"></anfitrion-language-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </header>

    <div class="suggestion-title">
      <ion-grid [fixed]="true" class="no-pad-top">
        <ion-row>
          <ion-col size="12" *ngIf="currentSuggestion">
            <ion-text mode="ios" class="proportional-text txt-center">
              <ng-container *ngIf="currentLanguage.value !== 'en'">
                <p class="color-gray-text title animate__animated animate__fadeInUp font-w-thin">{{ currentSuggestion.name.title[currentLanguage.value] }}</p>
                <p class="color-gray-text font-baloo font-w-bold subtitle animate__animated animate__fadeInUp">{{ currentSuggestion.name.text[currentLanguage.value] }}</p>
              </ng-container>

              <ng-container *ngIf="currentLanguage.value === 'en'">
                <p class="color-gray-text font-baloo font-w-bold subtitle animate__animated animate__fadeInUp">{{ currentSuggestion.name.text[currentLanguage.value] }}</p>
                <p class="color-gray-text title animate__animated animate__fadeInUp font-w-thin">{{ currentSuggestion.name.title[currentLanguage.value] }}</p>
              </ng-container>
            </ion-text>
          </ion-col>

          <ion-col size="12" *ngIf="!currentSuggestion">
            <ion-text mode="ios" class="txt-center">
              <ion-skeleton-text [animated]="true" class="gray-mid like-desc"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" class="gray-text like-title"></ion-skeleton-text>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <!-- CONTENT -->
  <section class="suggestion-content">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12" *ngIf="currentSuggestion">
          <ion-text
          class="txt-left color-gray-text full-width icon-title-text without-icon d-block"
          mode="ios">
            <p class="fs-14 font-w-thin">
              {{ currentSuggestion.address[currentLanguage.value] }}  {{ currentCity.from[currentLanguage.value] }} {{ currentCity.name }}
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12" *ngIf="!currentSuggestion">
          <ion-text
          class="txt-left color-gray-text full-width icon-title-text without-icon d-block"
          mode="ios">
            <p>
              <ion-skeleton-text [animated]="true" class="gray-mid like-desc-address"></ion-skeleton-text>
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <div class="view-n-filter-wrapper">
            <div class="looking-for-wrapper">

            </div>

            <div class="buttons-wrapper">
              <ion-button
              (click)="openFilterSelect()"
              shape="round"
              class="anf-main-solid fs-12"
              *ngFor="let button of filterButtons"
              [title]="'SHARED.FILTER' | translate"
              mode="md"
              fill="solid">
                <ion-icon [name]="button.icon + '-outline'" class="fs-20"></ion-icon>

                <ion-select
                mode="ios"
                [okText]="'Filtrar'"
                #filterSelector
                [label]="'SHARED.FILTER' | translate"
                class="hide-element anfitrion-selector min-height-0"
                (ionChange)="filterByCharacteristic($event)"
                [(ngModel)]="selectedFilter">
                  <ion-select-option
                  *ngFor="let filter of MOCK_FILTERS"
                  [value]="filter.value">
                    {{ filter.text[currentLanguage.value] }}
                  </ion-select-option>
                </ion-select>
              </ion-button>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" class="no-pad-bottom no-pad-top" *ngIf="activeFilter">
          <ion-text mode="ios" class="line-height-18">
            <p class="fs-14 color-gray-text">{{ 'SHARED.LOOKING_FOR' | translate }}: <span class="fs-14 color-green font-w-semibold txt-lowercase">{{ activeFilter.text[currentLanguage.value] }}</span></p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

     <!-- SLIDE -->
     <div class="festival-comida-japonesa-swiper-wrapper">
      <swiper-container
      [attr.centered-slides]="false"
      speed="5000"
      [init]="true"
      (swiperslidechange)="listenForSwiperForControl($event)"
      class="full-width swiper-w-relative-pagination"
      #japaneseSwiper
      free-mode="true"
      [autoHeight]="false"
      slides-offset-before="16"
      slides-offset-after="16"
      initial-slide="0"
      [slides-per-view]="1.3"
      [attr.space-between]="16"
      [breakpoints]="{
        '320' : {
          slidesPerView: 1.3
        },
        '445' : {
          slidesPerView: 1.7
        },
        '700' : {
          slidesPerView: 2.3
        },
        '800' : {
          slidesPerView: 2.6
        },
        '960' : {
          slidesPerView: 3.2
        },
        '1200' : {
          slidesPerView: 4.5
        },
        '1500' : {
          slidesPerView: 4.9
        }
      }">
        <ng-container *ngIf="places && places.length > 0">
          <swiper-slide
          *ngFor="let place of places; let i = index"
          class="unlock-shadow-from-swiper auto-width">
            <div class="japa-card">
              <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="place.isPremium"></ion-icon>

              <div class="japa-card-content">

                <div class="info-wrapper">
                  <div class="logo-wrapper txt-center">
                    <div class="logo-container">
                      <ion-img
                      [src]="'./../../../../../assets/images/establishments/seu-miyagi.jpg'">
                      </ion-img>
                    </div>
                  </div>

                  <div class="info">
                    <ion-text mode="ios" class="txt-left">
                      <p class="color-gray-text txt-uppercase type font-w-thin type fs-9">
                        {{ place.mainType.text[currentLanguage.value] }}
                      </p>
                      <h2 class="color-gray-text font-baloo name fs-16"><b>{{ place.name }}</b></h2>
                    </ion-text>
                  </div>
                </div>

                <ul>
                  <li *ngFor="let rule of place.festival_info.festivals[0].rules">
                    <ng-container>
                      <p class="color-gray-mid fs-12">
                        {{ rule.consumer_festival_type }} {{ rule.operator }} {{ rule.condition_start }} <ng-container *ngIf="rule.operator === BenefitOperatorsEnum.ENTRE">e {{ rule.condition_end }}</ng-container></p>
                        <span></span>
                      <p class="color-green fs-16 font-w-bold" *ngIf="rule.price && rule.price !== 0 && rule.price !== '0'">{{ rule.price | currency }}</p>
                      <p class="color-gray-mid fs-14 font-w-bold txt-lowercase" *ngIf="!rule.price || rule.price === 0 || rule.price === '0'"><ng-container *ngIf="rule.discount && rule.discount !== 0 && rule.discount !== '0'">{{ rule.discount }}%</ng-container> {{ rule.benefit_type }}</p>
                    </ng-container>
                  </li>
                </ul>

                <div class="button-list">
                  <ion-list mode="ios" lines="none">
                    <ion-item
                    [title]="('SHARED.SEE_DETAILS.0' | translate) + ' ' + ('SHARED.SEE_DETAILS.1' | translate)"
                    (click)="seePlace(place, $event)"
                    mode="ios"
                    lines="none"
                    [button]="true">
                      {{ 'SHARED.SEE_PROFILE.0' | translate }} <b class="mg-left-5">{{ 'SHARED.SEE_PROFILE.1' | translate }}</b>
                    </ion-item>

                    <ion-item
                    *ngIf="place.isPremium"
                    [title]="('SHARED.BOOKING.0' | translate) + ' ' + ('SHARED.BOOKING.1' | translate)"
                    mode="ios"
                    lines="none"
                    [button]="true"
                    class="reserve"
                    [detailIcon]="'logo-whatsapp'">
                      <span class="mg-right-5 font-w-bold">{{ 'SHARED.BOOKING.0' | translate }}</span> {{ 'SHARED.BOOKING.1' | translate }}
                    </ion-item>
                  </ion-list>
                </div>
              </div>

              <ion-text mode="ios" class="color-gray-mid txt-right mg-top-8 d-block">
                <p class="fs-10">{{ 'SHARED.LAST_UPDATE' | translate }}</p>
                <p class="fs-12">{{ place.festival_info.festivals[0].last_update | momentDate: this.currentLanguage.value }}</p>
              </ion-text>
            </div>
          </swiper-slide>
        </ng-container>

        <ng-container *ngIf="!places">
          <swiper-slide
          *ngFor="let establishment of [1,2,3,4,5,6]; let i = index"
          class="unlock-shadow-from-swiper auto-width">
            <ion-skeleton-text [animated]="true" class="like-cards"></ion-skeleton-text>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </section>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12" *ngIf="places && places.length === 0" class="no-pad-top">
        <ion-text mode="ios" class="line-height-22">
          <p class="color-gray-text fs-14 font-w-thin" >{{ 'SHARED.NO_PLACES' | translate }}.</p>
        </ion-text>
      </ion-col>

      <ng-container *ngIf="places && places.length > 0">
        <ion-col size="6">
          <div class="controls-wrapper">
            <ion-button
            [disabled]="hideLeftControl || (places && places.length < 2)"
            mode="md"
            class="anfitrion-main-solid fs-14 mg-right-8"
            shape="round"
            title="">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>

            <ion-button
            [disabled]="hideRightControl || (places && places.length < 2)"
            mode="md"
            class="anfitrion-main-solid fs-14"
            shape="round"
            title="">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="6" class="txt-right">
          <ion-text mode="ios">
            <p class="fs-12 color-gray-mid">
              <b class="fs-14">{{ places.length }}</b> <span class="txt-lowercase mg-left-5"><ng-container *ngIf="places.length === 1">{{ 'SHARED.ESTABLISHMENT' | translate }}</ng-container><ng-container *ngIf="places.length > 1">{{ 'SHARED.ESTABLISHMENTS' | translate }}</ng-container>.</span>
            </p>
          </ion-text>
        </ion-col>
      </ng-container>

      <ion-col size="12">
        <hr class="anfitrion-divider">
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-text mode="ios">
          <p class="font-baloo fs-20 color-gray-text font-w-bold" *ngIf="currentSuggestion">
            {{ 'FESTIVAL_PAGE.WE_ARE_TALKING' | translate }} {{ currentSuggestion.name.text[currentLanguage.value] }}
          </p>
        </ion-text>

        <ion-text mode="ios" class="d-block mg-bottom-16">
          <p class="fs-14 color-gray-text font-w-thin mg-top-16" *ngFor="let text of ('FESTIVAL_PAGE.WE_ARE_TALKING_DESC' | translate)">
            {{ text }}
          </p>
        </ion-text>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-item
        lines="none"
        mode="ios"
        class="simulate-bootstrap-alert warning line-height-18">
          <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" slot="start"></ion-icon>

          <ion-text mode="ios" class="color-bootstrap-warning">
            <p class="fs-12 mg-bottom-8">{{ 'INICIO_PAGE.VERIFIED.TITLE' | translate }}</p>
            <p class="fs-14">{{ 'INICIO_PAGE.VERIFIED.TEXT.0' | translate }} <b>{{ 'INICIO_PAGE.VERIFIED.TEXT.1' | translate }}</b> {{ 'INICIO_PAGE.VERIFIED.TEXT.2' | translate }}.</p>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <anfitrion-adsense>
    <div adsense class="txt-center full-width full-height">
      <script
      async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1158629671776524"
      crossorigin="anonymous">
      </script>

      <!--anfitrion-inicio-top -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-1158629671776524"
      data-ad-slot="7416407934"
      data-ad-format="auto"
      data-full-width-responsive="true">
      </ins>

      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </anfitrion-adsense>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <div class="scroll-to-top full-width">
          <ion-button
          mode="md"
          (click)="scrollToTop()"
          shape="round"
          [title]="('SHARED.BACK_TO_TOP.0' | translate) + ' ' + ('SHARED.BACK_TO_TOP.1' | translate)"
          fill="solid"
          class="anfitrion-main-solid mg-bottom-16 mg-top-16 fs-12">
            {{ 'SHARED.BACK_TO_TOP.0' | translate }} <b class="mg-left-5">{{ 'SHARED.BACK_TO_TOP.1' | translate }}</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="12">
        <anfitrion-made-w-love [centered]="true"></anfitrion-made-w-love>
      </ion-col>

      <ion-col size="12" class="no-pad-top">
        <anfitrion-social-networks [centered]="true"></anfitrion-social-networks>
      </ion-col>

      <ion-col size="12" class="mg-bottom-16">
        <anfitrion-copyright></anfitrion-copyright>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
