<ion-content
class="ion-content-w-linear-bg">
  <section class="login">
    <div class="login-header-wrapper bg-gray-2">
      <div class="fixed-header">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-header
              mode="ios"
              class="ion-no-border">
                <ion-toolbar
                class="ion-bg-transparent ion-no-padding">
                  <div class="header-container">
                    <div class="header-logo">
                      <anfitrion-logo
                      class="ion-hide"
                      (click)="slideSwiperToFirst()"
                      [asLink]="true"
                      [size]="'big'"
                      [currentLanguage]="currentLanguage">
                      </anfitrion-logo>
                    </div>

                    <div class="header-buttons">
                      <anfitrion-language-button
                      [currentLanguage]="currentLanguage">
                      </anfitrion-language-button>
                    </div>
                  </div>
                </ion-toolbar>
              </ion-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="lottie-wrapper">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" />

        <div class="logo-wrapper">
          <anfitrion-logo
          (click)="slideSwiperToFirst()"
          [asLink]="true"
          [size]="'big'"
          [currentLanguage]="currentLanguage">
          </anfitrion-logo>

          <ion-text mode="ios">
            <p class="fs-13 color-white">{{ 'LOGIN_PAGE.SUB_TITLE' | translate }}</p>
          </ion-text>
        </div>
      </div>

      <div class="fixed-segments">
        <div class="segments-container">
          <div class="segments">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8 pad-left">
                {{ 'LOGIN_PAGE.WHAT_YOU_WANT' | translate }}
              </p>
            </ion-text>

            <ion-segment
            [(ngModel)]="selectedSegment"
            (ionChange)="slideSwiperTo()"
            class="anf-main"
            mode="ios">
              <ion-segment-button
              *ngFor="let segment of segments"
              [value]="segment.value">
                <ion-text mode="ios">
                  <p class="font-baloo fs-14">
                    <ng-container *ngIf="segment.value === 'CREATE'">
                      <b>{{ 'LOGIN_PAGE.CREATE' | translate }}</b> {{ 'LOGIN_PAGE.ACCOUNT' | translate }}
                    </ng-container>

                    <ng-container *ngIf="segment.value === 'ACCESS'">
                      <b>{{ 'LOGIN_PAGE.ACCESS' | translate }}</b> {{ 'LOGIN_PAGE.ACCOUNT' | translate }}
                    </ng-container>
                  </p>
                </ion-text>
              </ion-segment-button>
            </ion-segment>
          </div>
        </div>
      </div>
    </div>

    <div class="login-content">
      <swiper-container
      #loginSwiper
      [slidesPerView]="1"
      class="full-width swiper-w-relative-pagination"
      allow-touch-move="false"
      initial-slide="0"
      [init]="true">
        <ng-container>
          <swiper-slide>
            <form
            (ngSubmit)="login()"
            [formGroup]="formLoginGroup"
            class="create-content">
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col size="12">
                    <ion-text
                    mode="ios"
                    class="color-gray-text line-height-16 d-block mg-top-32">
                      <p class="fs-18 color-gray-text mg-bottom-8 font-baloo">
                        {{ 'LOGIN_PAGE.ACCESS_SLIDER.TITLE.0' | translate }} <b>{{ 'LOGIN_PAGE.ACCESS_SLIDER.TITLE.1' | translate }}</b>.
                      </p>
                    </ion-text>
                  </ion-col>

                  <ion-col size="12">
                    <div
                    [ngClass]="{
                    'has-error' : (formLoginGroup.get('email')?.invalid &&
                    (formLoginGroup.get('email')?.touched ||
                    formLoginGroup.get('email')?.dirty))}"
                    class="anfitrion-input-wrapper full-width  label-w-white">
                      <ion-item
                      lines="none"
                      mode="ios">
                        <ion-input
                        (keyup)="justLowercase(formLoginGroup, 'email')"
                        (keydown)="preventWhitespace($event)"
                        formControlName="email"
                        enterkeyhint="next"
                        [placeholder]="'INPUTS.EMAIL' | translate"
                        mode="ios"
                        type="email"
                        inputmode="email">
                        </ion-input>
                      </ion-item>

                      <ion-text
                      mode="ios"
                      class="mg-top-8 d-block"
                      *ngIf="
                      formLoginGroup.get('email')?.invalid &&
                      (formLoginGroup.get('email')?.touched || formLoginGroup.get('email')?.dirty)">
                        <p
                        *ngIf="formLoginGroup.get('email')?.hasError('required')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                        </p>

                        <p
                        *ngIf="formLoginGroup.get('email')?.hasError('email')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.EMAIL_INVALID' | translate }}
                        </p>
                      </ion-text>
                    </div>
                  </ion-col>

                  <ion-col size="12">
                    <div
                    [ngClass]="{
                    'has-error' : (formLoginGroup.get('password')?.invalid &&
                    (formLoginGroup.get('password')?.touched ||
                    formLoginGroup.get('password')?.dirty))}"
                    class="anfitrion-input-wrapper full-width  label-w-white item-has-button-at-end">
                      <ion-item
                      lines="none"
                      mode="ios">
                        <ion-input
                        (keydown)="preventWhitespace($event)"
                        [placeholder]="'INPUTS.PASSWORD' | translate"
                        [type]="showLoginPassword ? 'text' : 'password'"
                        formControlName="password"
                        enterkeyhint="send"
                        mode="ios"
                        inputmode="text">
                        </ion-input>

                        <ion-button
                        [title]="showLoginPassword ? ('INPUTS.HIDE_PW' | translate) : ('INPUTS.SHOW_PW' | translate)"
                        (click)="toggleLoginPassword()"
                        type="button"
                        class="clear-gray-light"
                        mode="ios"
                        fill="clear">
                          <ion-icon name="eye-off-outline" *ngIf="showLoginPassword"></ion-icon>
                          <ion-icon name="eye-outline" *ngIf="!showLoginPassword"></ion-icon>
                        </ion-button>
                      </ion-item>

                      <ion-text
                      mode="ios"
                      class="mg-top-8 d-block"
                      *ngIf="
                      formLoginGroup.get('password')?.invalid &&
                      (formLoginGroup.get('password')?.touched || formLoginGroup.get('password')?.dirty)">
                        <p
                        *ngIf="formLoginGroup.get('password')?.hasError('required')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                        </p>

                        <p
                        *ngIf="formLoginGroup.get('password')?.hasError('minlength')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 6 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                        </p>
                      </ion-text>
                    </div>
                  </ion-col>

                  <ion-col
                  size="12"
                  class="txt-right">
                    <ion-button
                    (click)="navTo('/esqueci-minha-senha')"
                    [title]="('LOGIN_PAGE.ACCESS_SLIDER.FORGET_BTN.0' | translate) + ' ' + ('LOGIN_PAGE.ACCESS_SLIDER.FORGET_BTN.1' | translate)"
                    class="txt-right forgot-password no-ion-padding fs-14 mg-bottom-16"
                    fill="clear"
                    mode="ios">
                      <b class="mg-right-5">{{ 'LOGIN_PAGE.ACCESS_SLIDER.FORGET_BTN.0' | translate }}</b> {{ 'LOGIN_PAGE.ACCESS_SLIDER.FORGET_BTN.1' | translate }}
                    </ion-button>
                  </ion-col>

                  <ion-col size="12">
                    <ion-button
                    (click)="login()"
                    [disabled]="formLoginGroup.invalid || isDoingLogin"
                    [title]="('LOGIN_PAGE.ACCESS_SLIDER.LOGIN_BTN.0' | translate) + ' ' + ('LOGIN_PAGE.ACCESS_SLIDER.LOGIN_BTN.1' | translate)"
                    fill="solid"
                    type="submit"
                    shape="round"
                    class="anf-main-solid full-width fs-14 height-44"
                    mode="md">
                      <ng-container *ngIf="!isDoingLogin">
                        <ion-icon name="log-in-outline" class="mg-right-8 fs-22"></ion-icon> <b class="mg-right-5">{{ 'LOGIN_PAGE.ACCESS_SLIDER.LOGIN_BTN.0' | translate }}</b> {{ 'LOGIN_PAGE.ACCESS_SLIDER.LOGIN_BTN.1' | translate }}
                      </ng-container>

                      <ng-container *ngIf="isDoingLogin">
                        <ion-spinner name="dots"></ion-spinner>
                      </ng-container>
                    </ion-button>
                  </ion-col>

                  <ion-col
                  size="12"
                  class="txt-center">
                    <ion-button
                    (click)="openAboutUsModal()"
                    [title]="('LOGIN_PAGE.WHAT_IS' | translate) + ' ' + 'anfitrion'"
                    class="txt-center forgot-password no-ion-padding fs-14"
                    fill="clear"
                    mode="ios">
                      {{ 'LOGIN_PAGE.WHAT_IS' | translate }} <b class="mg-left-5">anfitrion</b> <ion-icon name="help-circle-outline" class="mg-left-5 fs-22"></ion-icon>
                    </ion-button>
                  </ion-col>

                  <ion-col size="12" class="mg-bottom-16">
                    <div class="copy-n-lang-wrapper mg-top-16">
                      <anfitrion-copyright></anfitrion-copyright>
                      <anfitrion-language-button-small [currentLanguage]="currentLanguage"></anfitrion-language-button-small>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </swiper-slide>

          <swiper-slide>
            <form
            [formGroup]="formCreateAccGroup"
            (ngSubmit)="createAcc()"
            class="access-content">
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col size="12">
                    <ion-text
                    mode="ios"
                    class="color-gray-text line-height-16 d-block mg-top-32">
                      <p class="fs-18 color-gray-text mg-bottom-8 font-baloo">
                        {{ 'LOGIN_PAGE.CREATE_SLIDER.TITLE.0' | translate }} <b>{{ 'LOGIN_PAGE.CREATE_SLIDER.TITLE.1' | translate }}</b>.
                      </p>
                    </ion-text>
                  </ion-col>

                  <ion-col size="12">
                    <div
                    [ngClass]="{
                    'has-error' : (formCreateAccGroup.get('name')?.invalid &&
                    (formCreateAccGroup.get('name')?.touched ||
                    formCreateAccGroup.get('name')?.dirty))}"
                    class="anfitrion-input-wrapper full-width  label-w-white">
                      <ion-item
                      lines="none"
                      mode="ios">
                        <ion-input
                        (keyup)="clearFieldKeepJustName($event)"
                        (keydown)="preventWhitespace($event)"
                        [placeholder]="'INPUTS.NAME' | translate"
                        enterkeyhint="next"
                        mode="ios"
                        formControlName="name"
                        type="text"
                        inputmode="text">
                        </ion-input>
                      </ion-item>

                      <ion-text
                      mode="ios"
                      class="mg-top-8 d-block"
                      *ngIf="
                      formCreateAccGroup.get('name')?.invalid &&
                      (formCreateAccGroup.get('name')?.touched || formCreateAccGroup.get('name')?.dirty)">
                        <p
                        *ngIf="formCreateAccGroup.get('name')?.hasError('required')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                        </p>

                        <p
                        *ngIf="formCreateAccGroup.get('name')?.hasError('minlength')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 3 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                        </p>
                      </ion-text>
                    </div>
                  </ion-col>

                  <ion-col size="12">
                    <div
                    [ngClass]="{
                    'has-error' : inputErrors.emailAlreadyInUse.show || (formCreateAccGroup.get('email')?.invalid &&
                    (formCreateAccGroup.get('email')?.touched ||
                    formCreateAccGroup.get('email')?.dirty))}"
                    class="anfitrion-input-wrapper full-width  label-w-white">
                      <ion-item
                      lines="none"
                      mode="ios">
                        <ion-input
                        (keyup)="clearErrorsIfExists('email-already-in-use'); justLowercase(formCreateAccGroup, 'email')"
                        (keydown)="preventWhitespace($event)"
                        [placeholder]="'INPUTS.EMAIL' | translate"
                        enterkeyhint="next"
                        mode="ios"
                        formControlName="email"
                        type="email"
                        inputmode="email">
                        </ion-input>
                      </ion-item>

                      <ion-text
                      *ngIf="inputErrors.emailAlreadyInUse.show"
                      mode="ios"
                      class="mg-top-8 d-block">
                        <p class="fs-12 color-danger">
                          {{ inputErrors.emailAlreadyInUse.text }}
                        </p>
                      </ion-text>

                      <ion-text
                      mode="ios"
                      class="mg-top-8 d-block"
                      *ngIf="
                      formCreateAccGroup.get('email')?.invalid &&
                      (formCreateAccGroup.get('email')?.touched || formCreateAccGroup.get('email')?.dirty)">
                        <p
                        *ngIf="formCreateAccGroup.get('email')?.hasError('required')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                        </p>

                        <p
                        *ngIf="formCreateAccGroup.get('email')?.hasError('email')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.EMAIL_INVALID' | translate }}
                        </p>
                      </ion-text>
                    </div>
                  </ion-col>

                  <ion-col size="12">
                    <div
                    [ngClass]="{
                    'has-error' : (formCreateAccGroup.get('password')?.invalid &&
                    (formCreateAccGroup.get('password')?.touched ||
                    formCreateAccGroup.get('password')?.dirty))}"
                    class="anfitrion-input-wrapper full-width  label-w-white item-has-button-at-end">
                      <ion-item
                      lines="none"
                      mode="ios">
                        <ion-input
                        (keyup)="checkPasswordRules()"
                        (keydown)="preventWhitespace($event)"
                        [type]="showCreatePassword ? 'text' : 'password'"
                        [placeholder]="'INPUTS.PASSWORD' | translate"
                        formControlName="password"
                        enterkeyhint="next"
                        mode="ios"
                        inputmode="text">
                        </ion-input>

                        <ion-button
                        [title]="showCreatePassword ? ('INPUTS.HIDE_PW' | translate) : ('INPUTS.SHOW_PW' | translate)"
                        (click)="toggleCreatePassword()"
                        type="button"
                        class="clear-gray-light"
                        mode="ios"
                        fill="clear">
                          <ion-icon name="eye-off-outline" *ngIf="showCreatePassword"></ion-icon>
                          <ion-icon name="eye-outline" *ngIf="!showCreatePassword"></ion-icon>
                        </ion-button>
                      </ion-item>

                      <ion-text
                      mode="ios"
                      class="mg-top-8 d-block"
                      *ngIf="
                      formCreateAccGroup.get('password')?.invalid &&
                      (formCreateAccGroup.get('password')?.touched || formCreateAccGroup.get('password')?.dirty)">
                        <p
                        *ngIf="formCreateAccGroup.get('password')?.hasError('required')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                        </p>

                        <p
                        *ngIf="formCreateAccGroup.get('password')?.hasError('minlength')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 8 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                        </p>
                      </ion-text>
                    </div>
                  </ion-col>

                  <ion-col size="12">
                    <div
                    [ngClass]="{
                    'has-error' : (formCreateAccGroup.get('confirmPassword')?.invalid &&
                    (formCreateAccGroup.get('confirmPassword')?.touched ||
                    formCreateAccGroup.get('confirmPassword')?.dirty))}"
                    class="anfitrion-input-wrapper full-width  label-w-gray-ef mg-bottom-16 item-has-button-at-end">
                      <ion-item
                      lines="none"
                      mode="ios">
                        <ion-input
                        (keyup)="checkPasswordsMatch();"
                        (keydown)="preventWhitespace($event)"
                        [placeholder]="'INPUTS.CONFIRM_PASSWORD' | translate"
                        [type]="showCreateConfirmPassword ? 'text' : 'password'"
                        formControlName="confirmPassword"
                        enterkeyhint="send"
                        mode="ios"
                        inputmode="text">
                        </ion-input>

                        <ion-button
                        [title]="showCreateConfirmPassword ? ('INPUTS.HIDE_PW' | translate) : ('INPUTS.SHOW_PW' | translate)"
                        (click)="toggleCreateConfirmPassword()"
                        type="button"
                        class="clear-gray-light"
                        mode="ios"
                        fill="clear">
                          <ion-icon name="eye-off-outline" *ngIf="showCreateConfirmPassword"></ion-icon>
                          <ion-icon name="eye-outline" *ngIf="!showCreateConfirmPassword"></ion-icon>
                        </ion-button>
                      </ion-item>

                      <ion-text
                      mode="ios"
                      class="mg-top-8 d-block"
                      *ngIf="
                      formCreateAccGroup.get('confirmPassword')?.invalid &&
                      (formCreateAccGroup.get('confirmPassword')?.touched || formCreateAccGroup.get('confirmPassword')?.dirty)">
                        <p
                        *ngIf="formCreateAccGroup.get('confirmPassword')?.hasError('required')"
                        class="fs-12 color-danger">
                          {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                        </p>

                        <p
                        *ngIf="formCreateAccGroup.get('confirmPassword')?.hasError('minlength')"
                        class="fs-12 color-danger">
                        {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 8 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                        </p>
                      </ion-text>
                    </div>
                  </ion-col>

                  <ion-col size="12">
                    <div class="password-wrapper">
                      <ul>
                        <li
                        *ngFor="let rule of passwordRules"
                        [ngClass]="{ 'has-rule' : rule.valid }"
                        >
                          <ion-text mode="ios">
                            <p class="fs-14">
                              <ion-icon [name]="rule.valid ? 'checkmark-circle' : 'close-circle'" class="fs-16"></ion-icon>
                              {{ rule.text[currentLanguage.value] }}
                            </p>
                          </ion-text>
                        </li>
                        <li
                        [ngClass]="{ 'has-rule' : passwordsMatch }"
                        >
                          <ion-text mode="ios">
                            <p class="fs-14">
                              <ion-icon [name]="passwordsMatch ? 'checkmark-circle' : 'close-circle'" class="fs-16"></ion-icon>
                              {{ passwordMatch.text[currentLanguage.value] }}
                            </p>
                          </ion-text>
                        </li>
                      </ul>
                    </div>
                  </ion-col>

                  <ion-col size="12">
                    <ion-checkbox mode="md" formControlName="terms"><ion-text mode="md"><p class="flexed-wrapped color-gray-text fs-14">Ao realizar o cadastro você concorda com os <a href="javascript:void(0)" (click)="toggleTermsAndConditionsModal(true)">Termos e Condições de uso</a></p></ion-text></ion-checkbox>
                  </ion-col>

                  <ion-col size="12">
                    <ion-button
                    [disabled]="isCreating || formCreateAccGroup.invalid || !passwordIsValid || !passwordsMatch || !formCreateAccGroup.get('terms')?.value"
                    [title]="('LOGIN_PAGE.CREATE_SLIDER.BTN.0' | translate) + ' ' + 'LOGIN_PAGE.CREATE_SLIDER.BTN.1' | translate"
                    fill="solid"
                    type="submit"
                    shape="round"
                    class="anf-main-solid full-width fs-14 height-44 mg-top-16"
                    mode="md">
                      <ng-container *ngIf="!isCreating">
                        <ion-icon name="person-add-outline" class="mg-right-8"></ion-icon> <b class="mg-right-5">{{ 'LOGIN_PAGE.CREATE_SLIDER.BTN.0' | translate }}</b> {{ 'LOGIN_PAGE.CREATE_SLIDER.BTN.1' | translate }}
                      </ng-container>

                      <ng-container *ngIf="isCreating">
                        <ion-spinner name="dots"></ion-spinner>
                      </ng-container>
                    </ion-button>
                  </ion-col>

                  <ion-col size="12" class="mg-bottom-16">
                    <div class="copy-n-lang-wrapper mg-top-16">
                      <anfitrion-copyright></anfitrion-copyright>
                      <anfitrion-language-button-small [currentLanguage]="currentLanguage"></anfitrion-language-button-small>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </section>
</ion-content>

<ion-modal
mode="md"
(ionModalDidDismiss)="toggleTermsAndConditionsModal(false)"
[isOpen]="showTermsAndConditionsModal"
[keepContentsMounted]="true">
  <ng-template>
    <ion-content class="ion-no-padding">
      <section class="terms-and-conditions full-width full-height">
        <pdf-viewer
        [src]="'./../../../assets/docs/termos-e-condicoes-de-uso.pdf'"
        [render-text]="true"
        [original-size]="false"
        style="width: 100%; height: 100%; display: block;"
        ></pdf-viewer>
      </section>
    </ion-content>
  </ng-template>
</ion-modal>
