<ion-content
[forceOverscroll]="false"
class="ion-content-w-linear-bg">
  <ion-header mode="ios" class="ion-no-border">
    <ion-toolbar mode="ios" class="ion-bg-transparent no-ion-padding">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="logo-container full-width ">
                <ion-button
                (click)="closeModal()"
                class="back ion-color-gray-text back-btn no-ion-padding font-baloo"
                [title]="'SHARED.BACK' | translate"
                fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <section class="cidades-wrapper">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-text
          class="txt-center color-gray-text full-width icon-title-text"
          mode="ios">
            <ion-icon
            name="location-outline"
            class="full-width fs-32 animate__animated animate__fadeInUp">
            </ion-icon>

            <h2 class="font-baloo">
              {{ 'EXPLORE_PAGE.CHOOSE_TITLE.0' | translate }} <span class="font-w-bold txt-lowercase">{{ 'EXPLORE_PAGE.CHOOSE_TITLE.1' | translate }}</span>
            </h2>

            <p class="fs-16">
              {{ 'EXPLORE_PAGE.OF_BAIXADA' | translate }} Baixada Santista
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12"></ion-col>

        <ion-col size="12">
          <ion-item
          lines="none"
          mode="ios"
          class="simulate-bootstrap-alert warning line-height-18">
            <ion-icon name="warning-outline" slot="start" class="color-bootstrap-warning"></ion-icon>

            <ion-text mode="ios" class="color-bootstrap-warning">
              <p class="fs-12 mg-bottom-8">{{ user.firstName }}</p>
              <p class="fs-14">{{ 'COMPONENTS.JUST_IN_CITY_ADVISE.0' | translate }} <b>{{ 'COMPONENTS.JUST_IN_CITY_ADVISE.1' | translate }}</b>.</p>
            </ion-text>
          </ion-item>
        </ion-col>

        <ion-col
        *ngFor="let city of MOCK_CITIES"
        size="12">
          <ion-item
          class="city-item"
          (click)="selectCity(city)"
          [ngClass]="{ 'is-selected' : currentCity && currentCity.value === city.value }"
          [detail]="false"
          [button]="true"
          mode="ios"
          lines="none"
          [disabled]="city.isDisabled">
            <ion-text
            mode="ios"
            class="line-height-20">
              <p class="fs-20 font-baloo city-name">{{ city.name }}</p>
              <p class="color-gray-6 fs-10 selected-text txt-uppercase" *ngIf="currentCity && currentCity.value === city.value">{{ 'SHARED.SELECTED' | translate }}</p>
              <p class="color-gray-6 fs-10 selected-text txt-uppercase" *ngIf="!city.isDisabled && currentCity.value !== city.value">{{ 'SHARED.TO_KNOW' | translate }}</p>
              <p class="color-gray-6 fs-10 selected-text txt-uppercase" *ngIf="city.isDisabled && currentCity.value !== city.value">{{ 'SHARED.COMING_SOON' | translate }}</p>
            </ion-text>

            <ion-checkbox [checked]="true" mode="md" slot="end" *ngIf="currentCity && currentCity.value === city.value"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
