.map {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--transparent);
  opacity: 0;
  transition: opacity 150ms ease-in;

  &.is-visible {
    opacity: 1;
  }
}

.back-button {
  position: absolute;
  left: 32px;
  top: 32px;
}
