<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-bg-white no-ion-padding">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <div class="header-container">
            <div class="back-btn-wrapper">
              <ion-button
              mode="ios"
              (click)="back()"
              class="back ion-color-gray-text back-btn no-ion-padding font-baloo"
              [title]="'SHARED.BACK' | translate"
              fill="clear">
                <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
              </ion-button>
            </div>

            <div class="language-container">
              <anfitrion-language-button [currentLanguage]="currentLanguage"></anfitrion-language-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content
[forceOverscroll]="false"
class="ion-content-w-linear-bg">
  <section class="sua-conta">
    <div class="sua-conta-container">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-text mode="ios" class="line-height-22">
              <p class="fs-18 color-gray-6 font-baloo"><b>{{ user.firstName }}</b>,</p>
              <p class="fs-14 color-gray-text font-w-thin">Estas são as informações da sua conta dentro do <b>anfitrion</b>.</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>
