section {
  &.sua-conta {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;

    .sua-conta-container {
      width: 100%;
      height: auto;
    }
  }

  &.new-email-modal {
    width: 100%;
    padding: 0px 8px 32px 0;
    max-width: 375px;
    margin: 0 auto;
  }

  &.new-password-modal {
    width: 100%;
    padding: 0px 8px 32px 0;
    max-width: 375px;
    margin: 0 auto;
  }
}

ion-item {
  &.item-disabled {
    opacity: 1;
  }
}
