section {
  &.sua-conta {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;

    .sua-conta-container {
      width: 100%;
      height: auto;
    }
  }
}

ion-item {
  &.item-disabled {
    opacity: 1;
  }
}
