<ion-content
#sobreContent
class="ion-bg-gray-2"
[forceOverscroll]="false"
[fullscreen]="true">
  <section class="sobre-nos-hero">
    <ion-header mode="ios" class="ion-no-border">
      <ion-toolbar mode="ios" class="ion-bg-transparent no-ion-padding">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <div class="header-container">
                <div class="logo-container full-width ">
                  <ion-button
                  (click)="back()"
                  class="back ion-color-white back-btn no-ion-padding font-baloo"
                  [title]="'SHARED.BACK' | translate"
                  fill="clear">
                    <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                  </ion-button>
                </div>

                <div class="language-container">
                  <anfitrion-language-button [currentLanguage]="currentLanguage"></anfitrion-language-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <div class="logo-wrapper">
      <anfitrion-logo [size]="'extra-big'" class="animate__animated animate__zoomInUp"></anfitrion-logo>
    </div>

    <div class="fixed-bg"></div>
  </section>

  <section class="sobre-nos-content">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-text mode="ios" class="line-height-22">
            <p class="fs-14 color-white">{{ 'ABOUT_PAGE.HELLO' | translate }},</p>
            <p class="color-linear font-w-bold font-baloo fs-24" [ngClass]="{'txt-lowercase': !user.firstName }">{{ user.firstName ? user.firstName : ('SHARED.VISITANT' | translate) }}</p>
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-text mode="ios" class="line-height-20 d-block mg-bottom-16">
            <p class="color-white fs-14 font-w-thin">{{ 'ABOUT_PAGE.FIRST_P' | translate }}.</p>
          </ion-text>
          <ion-text mode="ios" class="line-height-20 d-block mg-bottom-16">
            <p class="color-white fs-14 font-w-thin">{{ 'ABOUT_PAGE.SECOND_P' | translate }}.</p>
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-text mode="ios" class="line-height-20 d-block mg-bottom-16">
            <p class="color-white fs-14 font-w-thin"><b>{{ 'ABOUT_PAGE.EXEMPLES' | translate }}:</b> {{ 'ABOUT_PAGE.THIRD_P' | translate }}.</p>
          </ion-text>
          <ion-text mode="ios" class="line-height-20 d-block mg-bottom-16">
            <p class="color-white fs-14 font-w-thin"><b>{{ 'ABOUT_PAGE.FOURTH_P' | translate }}</b>.</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <anfitrion-adsense [color]="'gray-2'">
      <div adsense class="txt-center full-width full-height">
        <script
        async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1158629671776524"
        crossorigin="anonymous">
        </script>

        <!--anfitrion-inicio-top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1158629671776524"
        data-ad-slot="7416407934"
        data-ad-format="auto"
        data-full-width-responsive="true">
        </ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </anfitrion-adsense>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <div class="scroll-to-top full-width">
            <ion-button
            mode="md"
            (click)="scrollToTop()"
            shape="round"
            [title]="('SHARED.BACK_TO_TOP.0' | translate) + ' ' + ('SHARED.BACK_TO_TOP.1' | translate)"
            fill="solid"
            class="anfitrion-gray-solid mg-bottom-16 mg-top-16 fs-12">
              {{ 'SHARED.BACK_TO_TOP.0' | translate }} <b class="mg-left-5 color-green">{{ 'SHARED.BACK_TO_TOP.1' | translate }}</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12">
          <anfitrion-made-w-love [centered]="true" [color]="'white'"></anfitrion-made-w-love>
        </ion-col>

        <ion-col size="12" class="no-pad-top">
          <anfitrion-social-networks [centered]="true"></anfitrion-social-networks>
        </ion-col>

        <ion-col size="12" class="mg-bottom-16">
          <div class="copy-n-lang-wrapper">
            <anfitrion-copyright [color]="'white'"></anfitrion-copyright>
            <anfitrion-language-button-small [currentLanguage]="currentLanguage" [color]="'white'"></anfitrion-language-button-small>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
  </section>
</ion-content>
