@import './../../../../assets/scss/utils/mixins.scss';


section {
  &.seus-dados {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;

    .seus-dados-container {
      width: 100%;
      height: auto;
    }
  }
}

.chips {
  @include flexbox(flex-start, flex-start, row);
  margin: 6px 0 0 0;

  ion-chip {
    margin: 0 5px 0 0;
  }
}
