

<ion-content
[forceOverscroll]="false"
class="ion-content-w-linear-bg">
  <ion-header mode="ios" class="ion-no-border bg-transparent">
    <ion-toolbar mode="ios" class="ion-bg-transparent no-ion-padding">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="back-btn-wrapper">
                <ion-button
                mode="ios"
                (click)="back()"
                class="back ion-color-gray-text back-btn no-ion-padding font-baloo"
                [title]="'SHARED.BACK' | translate"
                fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                </ion-button>
              </div>

              <div class="language-container">
                <anfitrion-language-button [currentLanguage]="currentLanguage"></anfitrion-language-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <section class="seus-dados">
    <form
    (ngSubmit)="updateProfile()"
    class="seus-dados-container"
    [formGroup]="personalDataForm">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-text mode="ios" class="line-height-22">
              <h1 class="fs-24 font-baloo color-gray-text mg-top-5 side-by-side">
                <b>{{ user.firstName }}</b> <ng-container *ngIf="user.lastName"><span class="mg-left-5">{{ user.lastName }}</span></ng-container>  <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified mg-left-5" *ngIf="user.premiumInfo.isPremium"></ion-icon>
              </h1>
            </ion-text>

            <div class="chips">
              <ion-chip
              mode="ios"
              class="txt-uppercase as-badge" [ngClass]="{'premium': user.premiumInfo.isPremium}">
                <ng-container *ngIf="!user.premiumInfo?.isPremium">Conta gratuíta</ng-container>
                <ng-container *ngIf="user.premiumInfo?.isPremium">Conta premium</ng-container>
              </ion-chip>

              <ion-chip
              *ngIf="user.userType"
              [ngClass]="user.userType.value === UserTypeEnum.MORADOR ? 'resident' : 'tourist'"
              mode="ios"
              class="txt-uppercase as-badge">
                {{ user.userType.text[currentLanguage.value] }}
              </ion-chip>
            </div>
          </ion-col>

          <ion-col>
            <ion-text mode="ios" class="line-height-22">
              <p class="fs-14 color-gray-text font-w-thin">{{ 'YOUR_PERFIL_PAGE.YOUR_INFO' | translate }}.</p>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'SHARED.FIRST_NAME' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('name')?.invalid &&
            (personalDataForm.get('name')?.touched ||
            personalDataForm.get('name')?.dirty))}"
            class="anfitrion-input-wrapper full-width white-background-item label-w-white">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="clearFieldKeepJustName($event)"
                (keydown)="preventWhitespace($event)"
                [placeholder]="'INPUTS.INSERT_NAME' | translate"
                enterkeyhint="next"
                mode="ios"
                formControlName="name"
                type="text"
                inputmode="text">
                </ion-input>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('name')?.invalid &&
              (personalDataForm.get('name')?.touched || personalDataForm.get('name')?.dirty)">
                <p
                *ngIf="personalDataForm.get('name')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>

                <p
                *ngIf="personalDataForm.get('name')?.hasError('minlength')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 3 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'SHARED.SECOND_NAME' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('secondName')?.invalid &&
            (personalDataForm.get('secondName')?.touched ||
            personalDataForm.get('secondName')?.dirty))}"
            class="anfitrion-input-wrapper full-width white-background-item label-w-white">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="clearFieldKeepJustName($event)"
                (keydown)="preventWhitespace($event)"
                [placeholder]="'INPUTS.INSERT_SECOND_NAME' | translate"
                enterkeyhint="next"
                mode="ios"
                formControlName="secondName"
                type="text"
                inputmode="text">
                </ion-input>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('secondName')?.invalid &&
              (personalDataForm.get('secondName')?.touched || personalDataForm.get('secondName')?.dirty)">
                <p
                *ngIf="personalDataForm.get('secondName')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>

                <p
                *ngIf="personalDataForm.get('secondName')?.hasError('minlength')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 3 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'SHARED.BIRTHDATE' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('birthDateAsText')?.invalid &&
            (personalDataForm.get('birthDateAsText')?.touched ||
            personalDataForm.get('birthDateAsText')?.dirty))}"
            class="anfitrion-input-wrapper full-width white-background-item label-w-white item-has-button-at-end">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (ionFocus)="toggleBirthDateModal(true)"
                [placeholder]="currentLanguage.value === 'en' ? 'YYYY/MM/DD' : 'DD/MM/AAAA'"
                enterkeyhint="next"
                mode="ios"
                formControlName="birthDateAsText"
                type="text"
                inputmode="text">
                </ion-input>

                <ion-button
                (click)="toggleBirthDateModal(true)"
                [title]="'SHARED.BIRTHDATE' | translate"
                type="button"
                class="clear-gray-light"
                mode="ios"
                fill="clear">
                  <ion-icon name="calendar-outline"></ion-icon>
                </ion-button>

                <ion-modal
                [backdropDismiss]="false"
                (willDismiss)="toggleBirthDateModal(false)"
                [keepContentsMounted]="true"
                class="anf-adapt-datetime"
                mode="md"
                [isOpen]="showBirthDateModal">
                  <ng-template>
                    <ion-datetime
                    [locale]="currentLanguage.value === 'pt' ? 'pt-BR' : currentLanguage.value === 'en' ? 'en-US' : 'es-ES'"
                    [attr.displayFormat]="currentLanguage.value === 'en' ? 'YYYY-MM-DD' : 'DD/MM/YYYY'"
                    [attr.pickerFormat]="currentLanguage.value === 'en' ? 'YYYY-MM-DD' : 'DD/MM/YYYY'"
                    [max]="maxDateAsDatetime"
                    #birthDateDatetime
                    hourCycle="h24"
                    (ionChange)="birthDateChanged($event)"
                    class="anf-datetime"
                    [showDefaultButtons]="true"
                    presentation="date"
                    mode="ios"
                    cancelText="Cancelar"
                    doneText="Definir"
                    formControlName="birthDateAsDate">
                      <ion-buttons slot="buttons">
                        <ion-button class="cancel fs-16" title="Cancelar" (click)="toggleBirthDateModal(false)">{{ 'SHARED.CANCEL' | translate }}</ion-button>
                        <ion-button class="confirm fs-16" title="Definir" (click)="defineBirthDate()">{{ 'SHARED.DEFINE' | translate }}</ion-button>
                      </ion-buttons>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('birthDateAsText')?.invalid &&
              (personalDataForm.get('birthDateAsText')?.touched || personalDataForm.get('birthDateAsText')?.dirty)">
                <p
                *ngIf="personalDataForm.get('birthDateAsText')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <!-- AGE LIMIT: 18 YEARS -->
          <ion-col size="12" *ngIf="!respectAgeLimit">
            <ion-item
            lines="none"
            mode="ios"
            class="simulate-bootstrap-alert danger line-height-18">
              <ion-text mode="ios" class="line-height-22">
                <p class="mg-right-16 fs-24">🔞</p>
              </ion-text>

              <ion-text mode="ios" class="color-bootstrap-danger">
                <p class="fs-14">{{ 'SHARED.LESS_THAN_18' | translate }}.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'INPUTS.LABEL_BS_RELATIONSHIP' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('type')?.invalid &&
            (personalDataForm.get('type')?.touched ||
            personalDataForm.get('type')?.dirty))}"
            class="anfitrion-input-wrapper select-on-form full-width white-background-item label-w-white item-has-button-at-end mg-bottom-5">
              <ion-item
              class="has-select-on-form"
              lines="none"
              mode="ios">
                <ion-select
                (ionChange)="relationshipChanged()"
                [cancelText]="'SHARED.CANCEL' | translate"
                [okText]="'SHARED.DEFINE' | translate"
                formControlName="type"
                class="select-on-form"
                toggleIcon="''"
                interface="alert"
                [interfaceOptions]="interfaceOptions"
                [placeholder]="'INPUTS.PLACEHOLDER_BS_RELATIONSHIP' | translate" mode="ios">
                  <ion-select-option
                  *ngFor="let type of MOCK_USER_TYPES"
                  [value]="type.value">{{ type.text[currentLanguage.value] }}</ion-select-option>
                </ion-select>

                <ion-icon name="chevron-down-outline" class="color-gray-light"></ion-icon>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('type')?.invalid &&
              (personalDataForm.get('type')?.touched || personalDataForm.get('type')?.dirty)">
                <p
                *ngIf="personalDataForm.get('type')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>
              </ion-text>
            </div>

            <div class="mg-top-8" *ngIf="personalDataForm.get('type')?.value === UserTypeEnum.MORADOR || personalDataForm.get('type')?.value === UserTypeEnum.TURISTA">
              <ion-chip
              [ngClass]="personalDataForm.get('type')?.value === UserTypeEnum.MORADOR ? 'resident' : 'tourist'"
              mode="ios"
              class="txt-uppercase as-badge">
                {{personalDataForm.get('type')?.value === UserTypeEnum.MORADOR ? ('SHARED.RESIDENT' | translate) : ('SHARED.TOURIST' | translate) }}
              </ion-chip>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'INPUTS.LABEL_SEX' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('sex')?.invalid &&
            (personalDataForm.get('sex')?.touched ||
            personalDataForm.get('sex')?.dirty))}"
            class="anfitrion-input-wrapper select-on-form full-width white-background-item label-w-white item-has-button-at-end ">
              <ion-item
              class="has-select-on-form"
              lines="none"
              mode="ios">
                <ion-select
                (ionChange)="sexChanged()"
                [cancelText]="'SHARED.CANCEL' | translate"
                [okText]="'SHARED.DEFINE' | translate"
                formControlName="sex"
                class="select-on-form"
                toggleIcon="''"
                interface="alert"
                [interfaceOptions]="interfaceOptions"
                [placeholder]="'INPUTS.PLACEHOLDER_SEX' | translate" mode="ios">
                  <ion-select-option
                  *ngFor="let sex of MOCK_USER_SEX"
                  [value]="sex.value">{{ sex.text[currentLanguage.value] }}</ion-select-option>
                </ion-select>

                <ion-icon name="chevron-down-outline" class="color-gray-light mg-left-16"></ion-icon>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('sex')?.invalid &&
              (personalDataForm.get('sex')?.touched || personalDataForm.get('sex')?.dirty)">
                <p
                *ngIf="personalDataForm.get('sex')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12"
          *ngIf="!personalDataForm.get('sex')?.value || !personalDataForm.get('type')?.value || !personalDataForm.get('birthDateAsText')?.value || !personalDataForm.get('secondName')?.value">
            <ion-item
            lines="none"
            mode="ios"
            class="simulate-bootstrap-alert warning line-height-18">
              <ion-icon name="warning-outline" slot="start" class="color-bootstrap-warning"></ion-icon>

              <ion-text mode="ios" class="color-bootstrap-warning">
                <p class="fs-12 mg-bottom-8">{{ 'YOUR_PERFIL_PAGE.INCOMPLETE' | translate }}</p>
                <p class="fs-14">{{ user.firstName }}, {{ 'YOUR_PERFIL_PAGE.PERFIL_ADVISE' | translate }}.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-button
            type="submit"
            [disabled]="personalDataForm.invalid || isUpdatingProfile || !formHasChanges"
            mode="md"
            shape="round"
            class="anfitrion-main-solid fs-14 txt-lowercase full-width close-modal-btn height-44 mg-bottom-16 mg-top-16"
            [title]="('SHARED.UPDATE_MY_INFO_BTN.0' | translate) + ' ' + ('SHARED.UPDATE_MY_INFO_BTN.1' | translate)"
            fill="solid">
              <ng-container *ngIf="!isUpdatingProfile">
                <ion-icon name="refresh-outline" class="mg-right-5"></ion-icon>{{ 'SHARED.UPDATE_MY_INFO_BTN.0' | translate }} <span class="font-w-bold mg-left-5">{{ 'SHARED.UPDATE_MY_INFO_BTN.1' | translate }}</span>
              </ng-container>

              <ng-container *ngIf="isUpdatingProfile">
                <ion-spinner name="dots"></ion-spinner>
              </ng-container>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>
</ion-content>
