

<ion-content
[forceOverscroll]="false"
class="ion-content-w-linear-bg">
  <ion-header mode="ios" class="ion-no-border bg-transparent">
    <ion-toolbar mode="ios" class="ion-bg-transparent no-ion-padding">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="back-btn-wrapper">
                <ion-button
                mode="ios"
                (click)="back()"
                class="back ion-color-gray-text back-btn no-ion-padding font-baloo"
                [title]="'SHARED.BACK' | translate"
                fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">{{ 'SHARED.BACK' | translate }}</span>
                </ion-button>
              </div>

              <div class="language-container">
                <anfitrion-language-button [currentLanguage]="currentLanguage"></anfitrion-language-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <section class="seus-dados">
    <form class="seus-dados-container" [formGroup]="personalDataForm">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-text mode="ios" class="line-height-22">
              <p class="fs-18 color-gray-6 font-baloo"><b>{{ user.firstName }}</b>,</p>
              <p class="fs-14 color-gray-text font-w-thin">{{ 'YOUR_PERFIL_PAGE.YOUR_INFO' | translate }}.</p>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <hr class="anfitrion-divider">
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'SHARED.FIRST_NAME' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('name')?.invalid &&
            (personalDataForm.get('name')?.touched ||
            personalDataForm.get('name')?.dirty))}"
            class="anfitrion-input-wrapper full-width white-background-item label-w-white">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="clearFieldKeepJustName($event)"
                (keydown)="preventWhitespace($event)"
                [placeholder]="'INPUTS.INSERT_NAME' | translate"
                enterkeyhint="next"
                mode="ios"
                formControlName="name"
                type="text"
                inputmode="text">
                </ion-input>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('name')?.invalid &&
              (personalDataForm.get('name')?.touched || personalDataForm.get('name')?.dirty)">
                <p
                *ngIf="personalDataForm.get('name')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>

                <p
                *ngIf="personalDataForm.get('name')?.hasError('minlength')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 3 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'SHARED.SECOND_NAME' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('secondName')?.invalid &&
            (personalDataForm.get('secondName')?.touched ||
            personalDataForm.get('secondName')?.dirty))}"
            class="anfitrion-input-wrapper full-width white-background-item label-w-white">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (keyup)="clearFieldKeepJustName($event)"
                (keydown)="preventWhitespace($event)"
                [placeholder]="'INPUTS.INSERT_SECOND_NAME' | translate"
                enterkeyhint="next"
                mode="ios"
                formControlName="secondName"
                type="text"
                inputmode="text">
                </ion-input>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('secondName')?.invalid &&
              (personalDataForm.get('secondName')?.touched || personalDataForm.get('secondName')?.dirty)">
                <p
                *ngIf="personalDataForm.get('secondName')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>

                <p
                *ngIf="personalDataForm.get('secondName')?.hasError('minlength')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 3 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <p class="fs-12 color-gray-mid mg-bottom-8">
                {{ 'SHARED.BIRTHDATE' | translate }}
              </p>
            </ion-text>

            <div
            [ngClass]="{
            'has-error' : (personalDataForm.get('birthDate')?.invalid &&
            (personalDataForm.get('birthDate')?.touched ||
            personalDataForm.get('birthDate')?.dirty))}"
            class="anfitrion-input-wrapper full-width white-background-item label-w-white item-has-button-at-end">
              <ion-item
              lines="none"
              mode="ios">
                <ion-input
                (ionFocus)="toggleBirthDateModal(true)"
                [placeholder]="currentLanguage.value === 'en' ? 'YYYY/MM/DD' : 'DD/MM/AAAA'"
                enterkeyhint="next"
                mode="ios"
                formControlName="birthDateAsText"
                type="text"
                inputmode="text">
                </ion-input>

                <ion-button
                (click)="toggleBirthDateModal(true)"
                [title]="'SHARED.BIRTHDATE' | translate"
                type="button"
                class="clear-gray-light"
                mode="ios"
                fill="clear">
                  <ion-icon name="calendar-outline"></ion-icon>
                </ion-button>

                <ion-modal
                [backdropDismiss]="false"
                (willDismiss)="toggleBirthDateModal(false)"
                [keepContentsMounted]="true"
                class="anf-adapt-datetime"
                mode="md"
                [isOpen]="showBirthDateModal">
                  <ng-template>
                    <ion-datetime
                    [locale]="currentLanguage.value === 'pt' ? 'pt-BR' : currentLanguage.value === 'en' ? 'en-US' : 'es-ES'"
                    [attr.displayFormat]="currentLanguage.value === 'en' ? 'YYYY-MM-DD' : 'DD/MM/YYYY'"
                    [attr.pickerFormat]="currentLanguage.value === 'en' ? 'YYYY-MM-DD' : 'DD/MM/YYYY'"
                    [max]="maxDateAsDatetime"
                    #birthDateDatetime
                    hourCycle="h24"
                    (ionChange)="birthDateChanged($event)"
                    class="anf-datetime"
                    [showDefaultButtons]="true"
                    presentation="date"
                    mode="ios"
                    cancelText="Cancelar"
                    doneText="Definir"
                    formControlName="birthDateAsDate">
                      <ion-buttons slot="buttons">
                        <ion-button class="cancel fs-16" title="Cancelar" (click)="toggleBirthDateModal(false)">{{ 'SHARED.CANCEL' | translate }}</ion-button>
                        <ion-button class="confirm fs-16" title="Definir" (click)="defineBirthDate()">{{ 'SHARED.DEFINE' | translate }}</ion-button>
                      </ion-buttons>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>

              <ion-text
              mode="ios"
              class="mg-top-8 d-block"
              *ngIf="
              personalDataForm.get('birthDate')?.invalid &&
              (personalDataForm.get('birthDate')?.touched || personalDataForm.get('birthDate')?.dirty)">
                <p
                *ngIf="personalDataForm.get('birthDate')?.hasError('required')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.REQUIRED_FIELD' | translate }}
                </p>

                <p
                *ngIf="personalDataForm.get('birthDate')?.hasError('minlength')"
                class="fs-12 color-danger">
                  {{ 'ERRORS.MIN_CARACTERES.0' | translate }} 3 {{ 'ERRORS.MIN_CARACTERES.1' | translate }}
                </p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item
            lines="none"
            mode="ios"
            class="simulate-bootstrap-alert warning line-height-18">
              <ion-icon name="warning-outline" slot="start" class="color-bootstrap-warning"></ion-icon>

              <ion-text mode="ios" class="color-bootstrap-warning">
                <p class="fs-12 mg-bottom-8">{{ 'YOUR_PERFIL_PAGE.INCOMPLETE' | translate }}</p>
                <p class="fs-14">{{ user.firstName }}, {{ 'YOUR_PERFIL_PAGE.PERFIL_ADVISE' | translate }}.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-button
            [disabled]="false"
            mode="md"
            shape="round"
            class="anfitrion-main-solid fs-14 txt-lowercase full-width close-modal-btn height-44 mg-bottom-16 mg-top-16"
            [title]=""
            fill="solid">
              <ion-icon name="refresh-outline" class="mg-right-5"></ion-icon>{{ 'SHARED.UPDATE_MY_INFO_BTN.0' | translate }} <span class="font-w-bold mg-left-5">{{ 'SHARED.UPDATE_MY_INFO_BTN.1' | translate }}</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>
</ion-content>
